<template>
  <div class="signin">
    <img
      src="@/assets/images/logo/logo.svg"
      alt="УралПромИнжиниринг"
      class="signin__logo"
    />

    <h1 class="signin__title">Добро пожаловать</h1>

    <div class="signin__button-box flex flex--column">
      <router-link :to="{ name: 'Login' }" class="button">Вход</router-link>
      <router-link :to="{ name: 'ChooseRegistration' }" class="button"
        >Регистрация</router-link
      >
    </div>

    <div class="flex flex--column flex--middle">
      <p class="signin__text">Услуги в Екатеринбурге</p>
      <router-link :to="{ name: 'Agreement' }" class="link"
        >Договор оферты</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Welcome",

  data() {
    return {};
  },

  mounted() {
    // this.$store.dispatch("SHOW_ALERT", { message: "rewae" });
  },
};
</script>

<style lang="less"></style>
