<template>
  <section class="main__box portfolio flex flex--column">
    <h1 class="main__title">О нас</h1>
    <div class="news__list">
      <InfoCard :data="new Object()" v-if="!about"></InfoCard>

      <InfoCard :data="about" v-else></InfoCard>
    </div>
  </section>
</template>

<script>
import InfoCard from "@/components/common/InfoCard.vue";

export default {
  name: "About",

  components: {
    InfoCard
  },

  data() {
    return {};
  },

  computed: {
    about() {
      return this.$store.getters.ABOUT;
    }
  },

  mounted() {
    this.$store.dispatch("GET_ABOUT");
  }
};
</script>
