<template>
  <div class="agreement">
    <div class="crumbs">
      <a @click="$router.go(-1)" class="crumbs__link">Назад</a>
    </div>
    <h1>
      ДОГОВОР-ОФЕРТА НА ОКАЗАНИЕ УСЛУГ
      ДЛЯ ФИЗИЧЕСКИХ ЛИЦ
    </h1>
    <div class="flex flex--between">
      <p>г. Екатеринбург</p>
      <p>«01» февраля 2020</p>
    </div>

    <p>Данный документ является официальным предложением любым физическим лицам (публичной офертой) Общества с ограниченной ответственностью «УралПромИнжиниринг», именуемое в дальнейшем Исполнитель, и содержит все существенные условия договора оказания услуг.</p>

    <p>В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий лицо, производящее акцепт настоящей оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).</p>

    <p>
      В связи с изложенным выше, внимательно прочитайте текст настоящей публичной
      оферты. Если Вы не согласны с каким-либо пунктом оферты, Исполнитель предлагает Вам отказаться от использования услуг.
    </p>

    <p>
      <b>Определения:</b>
      <br />
      <br />
      <b>Заказчик</b> – физическое лицо, приобретающее услуги у Исполнителя.
      <br />
      <b>Услуги</b> – комплекс работ, выполняемых специалистами Исполнителя по заявкам Заказчика.
      <br />
      <b>Заявка</b> – сообщение, отправленное Заказчиком Исполнителю с помощью мобильного приложения, содержащее описание заказываемых услуг.
      <br />
      <b>Расходные материалы и запасные части</b> – оборудование, материалы и комплектующие, необходимые для замены или устранения недостатков вышедшего из строя оборудования.
      <br />
      <b>Мобильное приложение</b> – приложение Исполнителя, предназначенное для использования на смартфонах Заказчиков, работающее на базе операционных систем iOS и Android, доступное для скачивания в сервисах указанных операционных систем AppStore и Google Play, под названием «Мастер ЕКБ24»
      <br />
      <b>Профиль</b> – раздел мобильного приложения, к которому Заказчик, получает доступ после прохождения регистрации.
      <br />
      <b>Акцепт оферты</b> - полное и безоговорочное принятие оферты путем оплаты Заказчиком стоимости услуг Исполнителя. Оплата услуг осуществляется путем перечисления денежных средств на счет Исполнителя.
    </p>

    <h2>1. Предмет Договора</h2>

    <p>
      1.1. Исполнитель оказывает Заказчику услуги, а Заказчик обязуется оплачивать услуги в соответствии с условиями Договора.
      <br />1.2. Исполнитель вправе в одностороннем порядке вносить изменения и дополнения в перечень оказываемых услуг в мобильном приложении.
    </p>

    <h2>2. Акцепт оферты и заключение Договора</h2>

    <p>
      2.1. Заказчик производит акцепт оферты путем направления в адрес Исполнителя заявки на оказание услуг.
      <br />2.2. Настоящий Договор вступает в силу с момента его акцепта Заказчиком и прекращает свое действие после выполнения Сторонами взаимных обязательств.
      <br />2.3. Исполнитель вправе изменять условия Договора. Отправка заявки Заказчиком Исполнителю через мобильное приложение подтверждает согласие Заказчика с редакцией Договора.
      <br />2.4. Последняя действующая редакция Договора размещена в мобильном приложении.
    </p>

    <h2>3. Порядок оказания услуг</h2>

    <p>
      3.1. По настоящему Договору услуги оказываются с использованием мобильного приложения.
      <br />3.2. Заказчик, имеющий намерение воспользоваться услугами Исполнителя, направляет Исполнителю Заявку. После получения Заявки Исполнитель связывается с Заказчиком по телефону для согласования времени и места оказания услуг, а также необходимых расходных материалов и запасных частей.
    </p>

    <h2>4. Стоимость услуг и порядок расчетов</h2>

    <p>
      4.1. Стоимость услуг Исполнителя формируется по каждой заявке индивидуально с учетом базовых расценок на работы, указанных в мобильном приложении, необходимых расходных материалов и запасных частей, транспортных расходов и т.д.
      <br />4.2. Стоимость услуг Исполнителя НДС не облагается на основании гл. 26.2 ст. 346.11 Налогового Кодекса РФ.
      <br />4.3. Оплата стоимости услуг Исполнителя производится Заказчиком по факту оказания услуг.
      <br />4.4. Оплата осуществляется Заказчиком в безналичном порядке путем перечисления денежных средств на расчетный счет Исполнителя через мобильное приложение.
    </p>

    <h2>5. Сроки оказания услуг</h2>

    <p>
      5.1. Услуги Исполнителя предоставляются в сроки, согласованные с Заказчиком.
      <br />5.2. При оказании услуг Исполнитель вправе в одностороннем порядке изменить сроки предоставления услуг. В случае изменения сроков оказания услуг, Заказчик подлежит уведомлению по телефону, указанному в профиле Заказчика в мобильном приложении.
    </p>

    <h2>6. Права и обязанности сторон</h2>

    <p>
      <b>6.1. Исполнитель обязан:</b>
      <br />6.1.1. Обеспечивать неразглашение конфиденциальной информации, получаемой от
      Заказчика через мобильное приложение.
      <br />6.1.2. Оказать услуги в сроки, согласованные с Заказчиком, качественно и в полном объеме.
      <br />
      <b>6.2. Исполнитель имеет право:</b>
      <br />6.2.1. Самостоятельно определять формы и методы оказания услуг, исходя из требований законодательства.
      <br />6.2.2. Самостоятельно определять состав специалистов, оказывающих услуги.
      <br />6.2.3. Отказаться от исполнения обязательств по оказанию услуг в случае, если Заказчик не предоставил доступ к месту оказания услуг в согласованное время.
      <br />
      <b>6.3. Заказчик обязан:</b>
      <br />6.3.1. Предоставить доступ к месту оказания услуг в согласованное с Исполнителем время.
      <br />6.3.2. Принять оказанные услуги Исполнителем и произвести оплату в момент их завершения в соответствии с п. 4.4 настоящего Договора.
      <br />
      <b>6.4. Заказчик имеет право:</b>
      <br />6.4.1. По согласованию с Исполнителем, переносить время и сроки оказания услуг.
      <br />6.4.2. Осуществлять контроль за ходом оказания услуг.
      <br />
    </p>

    <h2>7. Обстоятельства непреодолимой силы</h2>

    <p>
      7.1. Обстоятельства непреодолимой силы, признанные в силу законодательства
      таковыми, делающие невозможным исполнение настоящего Договора любой из Сторон могут явиться основаниями, освобождающими Стороны от ответственности.
    </p>

    <h2>8. Реквизиты Исполнителя</h2>

    <p>
      Общество с ограниченной ответственностью «УралПромИнжиниринг»
      <br />Юридический адрес: Россия, 620014, г. Екатеринбург, ул. Радищева, 6 А, оф. 2712.
      <br />Почтовый адрес: Россия, 620014, г. Екатеринбург, ул. Радищева, 6 А, оф. 2712.
      <br />ИНН 6658241285
      <br />КПП 667101001
      <br />Р/с 40702810716090105536 в Уральском Банке ПАО Сбербанк г. Екатеринбург
      <br />К/с 30101810500000000674, БИК 046577674
      <br />Телефон:
      <a href="tel:+73433420322">+7 (343) 342-03-22</a>,
      <br />Электронный адрес:
      <a href="mailto:office@urpi.ru">office@urpi.ru</a>
      <br />Сайт:
      <a href="http://www.urpi.ru" target="_blank">www.urpi.ru</a>
      <br />
    </p>

    <div class="crumbs">
      <a @click="$router.go(-1)" class="crumbs__link">Назад</a>
    </div>
  </div>
</template>

<script>
export default {};
</script>