<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">Контакты</h1>
    <ul class="main__list">
      <li class="main__item" v-for="(item, index) in contacts" :key="index">
        <div v-if="item.title" class="main__item-info-box flex">
          <h2 class="main__item-title">{{ item.title }}</h2>
        </div>
        <div class="main__item-wrapper">
          <a v-if="item.tel" :href="'tel:' + item.tel" class="main__item-link">{{ item.tel }}</a>
          <a v-if="item.mail" :href="'mailto:' + item.mail" class="main__item-link">{{ item.mail }}</a>

          <template v-if="item.text">
            <p v-for="(item, index) in item.text" :key="index" class="main__item-text">{{ item }}</p>
          </template>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: "Contacts",

  data() {
    return {
      contacts: Array
    };
  },

  created() {
    this.contacts = [
      {
        title: "Офис",
        tel: "+7 (343) 342-03-22"
      },
      {
        title: "Диспетчерская",
        tel: "+7 (343) 371-75-80",
        mail: "office@urpi.ru"
      },
      {
        title: "Юридический адрес",
        text: [
          "Россия, 620014,",
          "г. Екатеринбург,",
          "ул. Радищева, 6 А,",
          "оф. 2712."
        ]
      },
      {
        title: "Почтовый адрес",
        text: [
          "Россия, 620014,",
          " г. Екатеринбург,",
          "ул. Радищева, 6 А,",
          "оф. 2712."
        ]
      },
      {
        title: "Банковские реквизиты",
        text: [
          "ОГРН 1069658088862,",
          "ИНН 6658241285,",
          "КПП 667101001,",
          "ОКАТО 65401364000,",
          "ОКПО 97371358,",
          "ОКВЭД 70.32,",
          "р/с 40702810716090105536 в Уральском Банке ПАО Сбербанк",
          "к/с 30101810500000000674,",
          "БИК 046577674"
        ]
      },
      {
        text: [
          "Общество с ограниченной ответственностью «УралПромИнжиниринг» (ООО «УрПИ»)"
        ]
      }
    ];
  }
};
</script>
<style lang="less" scoped>
.main__item {
  margin-bottom: 5vw;
}
.main__item-wrapper {
  padding: 4vw 5vw;
}
.main__item-text {
  padding: 0;
  margin: 0;

  font-size: 5.65vw;
}
.main__item-link {
  display: block;

  color: @color-blue;
  font-size: 5.65vw;
  text-decoration: none;

  &:active {
    opacity: 1;
    color: @color-blue;
  }
}
</style>
