<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">Обратная связь</h1>
    <form
      @submit.prevent="submit"
      class="main__form form flex flex--column flex--middle flex--grow"
    >
      <div class="form__input-wrapper">
        <textarea
          cols="30"
          rows="10"
          v-model="message"
          class="textarea"
          required
          placeholder="Опишите ситуацию"
        ></textarea>
      </div>
      <button type="submit" class="button" :class="{'animated-background' : response}">Отправить</button>
    </form>
  </section>
</template>

<script>
const type = localStorage.getItem("user");

export default {
  name: "Feedback",

  data() {
    return {
      message: null
    };
  },
  methods: {
    submit() {
      if (this.message.length >= 10) {
        this.$store.dispatch("SET_FEEDBACK", { message: this.message });
      } else {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Длина отзыва должна быть не менее 10 символов"
        });
      }
    }
  },

  computed: {
    feedback() {
      return this.$store.getters.FEEDBACK;
    },

    response() {
      return this.$store.getters.AWAITRESPONSE;
    }
  },

  watch: {
    feedback() {
      if (this.feedback) {
        const componentName =
          type == "corporate"
            ? "CorporateFeedbackMessage"
            : "RetailFeedbackMessage";
        this.$router.push({ name: componentName });
      }
    }
  },

  beforeDestroy() {
    this.$store.commit("SET_FEEDBACK", null);
  }
};
</script>
