<template>
  <section class="main__box flex flex--column flex--center">
    <div class="feedback__box">
      <p class="main__text">
        Спасибо за обратную связь.
        Наш менеджер свяжется
        с вами.
      </p>
    </div>
  </section>
</template>

<script>
export default {
  name: "Feedback",

  data() {
    return {};
  }
};
</script>
