<template>
  <div></div>
</template>

<script>
export default {
  name: "PushRouterPage",

  props: ["id"],

  mounted() {
    const user = localStorage.getItem("user");

    if (user == "retail") {
      this.$router.push({
        name: "RetailOrder",
        id: this.$route.params.id
      });
    } else if (user == "corporate") {
      this.$router.push({
        name: "CorporateOrder",
        id: this.$route.params.id
      });
    } else {
      this.$router.push({
        name: "Welcom"
      });
    }
  }
};
</script>

<style></style>
