<template>
  <div class="main flex flex--column">
    <Header></Header>
    <SideNav></SideNav>
    <Animation></Animation>
    <Bar></Bar>
  </div>
</template>

<script>
import Header from "@/components/retail/Header.vue";
import SideNav from "@/components/retail/SideNav.vue";
import Bar from "@/components/retail/Bar.vue";
import Animation from "@/components/common/RouterAnimation.vue";

export default {
  name: "RetailMain",
  components: {
    Header,
    SideNav,
    Bar,
    Animation
  },

  mounted() {
    this.$store.dispatch("GET_STATUSES");
    this.$store.dispatch("GET_STATUSESINVOICES");
    this.$store.dispatch("GET_PUSHTOKEN");
  }
};
</script>
