<template>
  <div id="app">
    <Animation></Animation>
    <Alert></Alert>
  </div>
</template>

<script>
import Alert from "@/components/Alert.vue";
import Animation from "@/components/common/RouterAnimation.vue";

export default {
  components: {
    Alert,
    Animation
  }
};
</script>
<style lang="less">
</style>
