<template>
  <footer class="bar flex flex--center flex--middle">
    <nav class="bar__nav">
      <ul class="bar__list flex flex--nowrap flex--center">
        <li class="bar__item">
          <router-link :to="{ name: 'RetailNewsList' }" class="bar__link" active-class="active">
            <span class="bar__icon icon icon--bookmark"></span>
            Новости
          </router-link>
        </li>
        <li class="bar__item">
          <router-link :to="{ name: 'RetailServicesList' }" class="bar__link" active-class="active">
            <span class="bar__icon icon icon--paint-roller"></span>
            Каталог
          </router-link>
        </li>
        <li class="bar__item">
          <router-link :to="{ name: 'RetailProfile' }" class="bar__link" active-class="active">
            <span class="bar__icon icon icon--user"></span>
            Профиль
          </router-link>
        </li>
      </ul>
    </nav>
  </footer>
</template>

<script>
export default {
  name: "RetailBar",
  data() {
    return {};
  }
};
</script>
