<template>
  <header
    class="header flex flex--center flex--center"
    :class="activeClass ? 'active' : ''"
  >
    <button class="button-burger" @click.prevent="menuToggle">
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <img
      src="@/assets/images/logo/logo.svg"
      alt="УралПромИнжиниринг"
      class="header__logo"
    />
    <router-link
      :to="{ name: 'RetailShoppingCart' }"
      class="header__link icon icon--cart"
    >
      <span class="visually-hidden">Перейти в корзину</span>
      <transition name="add-cart">
        <span class="header__cart-count" v-if="cartCount">
          <span class="visually-hidden">Колличество услуг в корзине:</span>
          {{ cartCount }}
        </span>
      </transition>
    </router-link>
  </header>
</template>
<script>
export default {
  name: "RetailHeader",
  data() {
    return {
      activeClass: false,
      scrollTop: 0,
      cartCount: null,
    };
  },
  methods: {
    menuToggle() {
      this.$root.$emit("toggleRetailSideNav");
    },

    onScroll() {
      if (
        window.pageYOffset >= 20 ||
        document.documentElement.scrollTop >= 20
      ) {
        this.activeClass = true;
      } else {
        this.activeClass = false;
      }
    },

    printCartCount() {
      const count = localStorage.getItem("cart");

      if (count) {
        this.cartCount = JSON.parse(count).length;
      } else {
        this.cartCount = null;
      }
    },
  },

  created() {
    this.printCartCount();
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);

    this.$root.$on("printCountCart", () => {
      this.printCartCount();
    });
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
};
</script>
