<template>
  <transition name="slide">
    <nav class="nav" v-if="navActive" @click="toggleNav">
      <ul class="nav__list">
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailServicesList' }"
            class="nav__link"
            active-class="active"
          >Каталог</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailInvoiceList' }"
            class="nav__link"
            active-class="active"
          >Мои счета</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailPortfolioList' }"
            class="nav__link"
            active-class="active"
          >Портфолио</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailNewsList' }"
            class="nav__link"
            active-class="active"
          >Новости</router-link>
        </li>
        <li class="nav__item">
          <router-link :to="{ name: 'RetailAbout' }" class="nav__link" active-class="active">О нас</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailFeedback' }"
            class="nav__link"
            active-class="active"
          >Обратная связь</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailOrderHistory' }"
            class="nav__link"
            active-class="active"
            exact-active-class="test"
          >История заявок</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailProfile' }"
            class="nav__link"
            active-class="active"
          >Профиль</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'RetailContacts' }"
            class="nav__link"
            active-class="active"
          >Контакты</router-link>
        </li>
      </ul>
    </nav>
  </transition>
</template>
<script>
export default {
  name: "RetailSideNav",
  data() {
    return {
      navActive: false
    };
  },
  methods: {
    toggleNav() {
      this.navActive ? (this.navActive = false) : (this.navActive = true);
    }
  },

  mounted() {
    this.$root.$on("toggleRetailSideNav", () => {
      this.toggleNav();
    });
  }
};
</script>
