<template>
  <section class="main__box flex flex--column flex--center">
    <div class="feedback__box">
      <p class="main__text">Оплата проведена успешно</p>
    </div>
    <span class="feedback__icon icon icon--success"></span>
  </section>
</template>

<script>
export default {
  name: "RetailInvoiceSuccess",

  data() {
    return {};
  },

  mounted() {
    this.$store.dispatch("PUSH_PAYSTATUS", {
      path: "success",
      data: {
        InvId: this.$route.query.InvId,
        OutSum: this.$route.query.OutSum,
        SignatureValue: this.$route.query.SignatureValue
      }
    });
  }
};
</script>