<template>
  <section class="main__box flex flex--column flex--center">
    <div class="feedback__box">
      <p class="main__text">Оплата не была совершена, попробуйте ещё раз</p>
    </div>
    <span class="feedback__icon icon icon--fail"></span>
  </section>
</template>

<script>
export default {
  name: "RetailInvoiceFail",

  data() {
    return {};
  },

  mounted() {
    this.$store.dispatch("PUSH_PAYSTATUS", {
      path: "fail",
      data: {
        InvId: this.$route.query.InvId
      }
    });
  }
};
</script>