<template>
  <section class="main__box invoice flex flex--column">
    <div class="flex flex--between flex--top flex--nowrap">
      <h1 class="main__title text-blue text-normal">Счёт {{ order.id }}</h1>
      <button
        class="button-refresh"
        :class="{ loading: response }"
        :disabled="response"
        @click="refresh"
      >
        <span class="visually-hidden">Обновить счета</span>
      </button>
    </div>

    <ul class="service__list" v-if="!order.id">
      <li class="service__item">
        <OrderCardInfo></OrderCardInfo>
      </li>
    </ul>

    <ul class="service__list" v-else>
      <li
        class="service__item"
        v-for="(service, index) in order.services"
        :key="index"
      >
        <OrderCardInfo :data="service"></OrderCardInfo>
      </li>
    </ul>

    <p class="cart__price">
      <span :class="{ 'animated-background': !order.id }">
        Итого:
        <span class="text-bold">{{ order.total }} Р</span>
      </span>
    </p>

    <div class="invoice__button flex flex--center" v-if="order.status != 10">
      <button
        class="button"
        :class="{ 'animated-background': !order.id }"
        :disabled="response"
        @click="pushPayment"
      >
        Оплатить
      </button>
    </div>

    <!-- <transition name="modal-slide">
      <div class="modal" v-if="getLink.link" @click="canclePaying">
        <div class="modal__frame-box">
          <button class="modal__button button" @click="canclePaying">Отменить оплату</button>
          <iframe :src="getLink.link" frameborder="0" class="modal__frame"></iframe>
        </div>
      </div>
    </transition>-->
  </section>
</template>

<script>
import OrderCardInfo from "@/components/common/OrderCardInfo.vue";

export default {
  name: "RetailShoppingCart",

  components: {
    OrderCardInfo
  },

  props: ["id"],

  data() {
    return {
      list: new Array(),
      total: 0,
      refreshing: false,
      accesToPay: false
    };
  },

  methods: {
    refresh() {
      this.$store.dispatch("GET_INVOICE", this.id);
    },

    pushPayment() {
      this.$store.dispatch("PUSH_INVOICE", this.id);
    }

    // canclePaying() {
    //   this.$store.dispatch("SET_INVOICESTATUS", { link: null });
    // }
  },

  computed: {
    order() {
      return this.$store.getters.INVOICE;
    },

    response() {
      return this.$store.getters.AWAITRESPONSE;
    },

    getStatus() {
      return JSON.parse(localStorage.getItem("statusesInvoices"))[
        this.order.status
      ];
    }

    // getLink() {
    //   return this.$store.getters.INVOICESTATUS;
    // }
  },

  mounted() {
    document.documentElement.scrollTop = 0;

    this.$store.dispatch("GET_INVOICE", this.id);
  }
};
</script>

<style lang="less" scoped>
.main__title {
  width: 0;
  flex-grow: 1;
}

.cart__price {
  margin-bottom: 5vw;
}

.invoice__button {
  margin-top: auto;
  margin-bottom: 5vw;
}
</style>
