.agreement {
    padding: 0 5vw;
    padding-top: calc(2vw + env(safe-area-inset-top));
    padding-bottom: calc(2vw + env(safe-area-inset-bottom));

    & h1 {
        text-align: center;
        font-size: 5vw;
    }

    & h2 {
        text-align: center;
        font-size: 4.6vw;
    }

    & p {
        font-size: 4.2vw;
    }
}