.alert {
    position: fixed;
    z-index: 99;

    font-size: 5.65vw;
    text-align: center;
    font-weight: 300;

    top: calc(7.8vw + env(safe-area-inset-top));
    left: 6vw;
    right: 6vw;

    padding: 4.4vw;

    background: #ffffff;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    border-radius: 11px;

    &.error {
        color: rgba(230, 81, 81, 0.973);
    }
}

.alert-slide-enter-active {
    animation: alert-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.alert-slide-leave-active {
    animation: alert-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
        reverse;
}

@keyframes alert-slide-top {
    0% {
        transform: translateY(-20vw);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
