.animated-background {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: #27282e28;
    background: linear-gradient(
        90deg,
        #27282e13 8%,
        #4243492d 18%,
        #27282e13 33%
    );
    background-size: 800px 104px;
    // height: auto;
    position: relative;

    border-radius: 8px;

    color: transparent;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    to {
        background-position: 468px 0;
    }
}

.refresh-button {
    &-enter-active {
        animation: refresh-button 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &-leave-active {
        animation: refresh-button 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
            reverse;
    }
}

@keyframes refresh-button {
    0% {
        transform: translate(-50%, -50px);
    }
    100% {
        transform: translate(-50%, 0px);
    }
}

.modal-slide {
    &-enter-active {
        animation: modal-slide-enter 0.5s cubic-bezier(0.17, 0.67, 0.4, 0.96)
            both;
    }

    &-leave-active {
        animation: modal-slide-leave 0.5s cubic-bezier(0.17, 0.67, 0.4, 0.96)
            both;
    }
}

@keyframes modal-slide-enter {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes modal-slide-leave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
