.bar {
    position: fixed;
    z-index: 70;

    right: 0;
    bottom: 0;
    left: 0;

    border-top: 1px solid #DCDCDC;
    background-color: #fff;

    padding-bottom: env(safe-area-inset-bottom);

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #A3A3A3;
        font-size: 3.15vw;
        letter-spacing: 0.145em;
        font-weight: 600;
        text-decoration: none;

        padding: 2.5vw 4.1vw;

        transition: color 0.15s;

        &.active {
            color: @color-blue;
        }
    }

    &__icon {
        display: block;

        width: 8.5vw;
        height: 8.5vw;

        margin-bottom: 1.9vw;
    }
}