.button {
    display: inline-block;

    width: 65vw;

    color: #fff;
    font-size: 1.15em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;

    padding: 3.8vw 4vw;

    background-color: @color-blue;

    border: none;
    border-radius: 3vw;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    transition: background-color 0.2s, color 0.2s;

    box-sizing: border-box;

    &.animated-background {
        color: rgba(0, 0, 0, 0.5);
    }

    &:focus,
    &:active {
        background-color: darken(@color-blue, 10%);
    }

    &--white {
        color: @color-text;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    }

    &--small {
        width: auto;

        font-size: 4.4vw;
        font-weight: 300;

        border-radius: 37px;

        padding: 1.6vw 3.8vw;

        &:active,
        &:focus {
            color: #fff;
            background-color: rgb(177, 177, 177);
        }
    }

    &--scroll-top {
        position: fixed;
        z-index: 9;

        right: 4vw;
        bottom: calc(16vh + env(safe-area-inset-bottom));

        width: 16vw;
        height: 16vw;

        background-image: url(../../assets/images/icons/icon_arrow-up-white.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center 45%;
        border-radius: 50%;

        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    }
}

.button-burger {
    padding: 0;
    border: none;
    background-color: transparent;

    width: 12vw;
    height: 12vw;

    background-image: url("../../assets/images/icons/icon_menu.svg");
    background-repeat: no-repeat;
    background-size: 10vw;
    background-position: center;
}

.button-satisfied {
    border: none;
    background-color: transparent;
    padding: 0;

    width: 8.5vw;
    height: 8.5vw;

    padding: 2vw 4vw;

    box-sizing: content-box;

    & .icon {
        width: 100%;
        height: 100%;

        fill: #dcdcdc;

        transition: fill 0.15s;
    }

    &:active,
    &:focus {
        opacity: 1;
    }

    &--like {
        transform: translateY(-0.5vw);

        &.active {
            & .icon {
                fill: @color-blue;
            }
        }
    }

    &--dislike {
        transform: translateY(0.5vw);

        &.active {
            & .icon {
                fill: rgb(248, 95, 95);
            }
        }
    }
}

button.button-satisfied {
    &--like {
        &:active {
            & .icon {
                fill: @color-blue;
            }
        }
    }

    &--dislike {
        &:active {
            & .icon {
                fill: rgb(248, 95, 95);
            }
        }
    }
}

.button-refresh {
    padding: 0;
    border: none;
    background-color: transparent;
    display: block;

    width: 10vw;
    min-width: 10vw;
    height: 10vw;

    background-image: url("../../assets/images/icons/icon_refresh.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &.loading {
        background-image: url("../../assets/images/icons/icon_refresh-animated.svg");
        background-size: 18.8vw;
        background-position: center left;
    }
}
