.cart {
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        flex-grow: 1;

        & .main__text {
            text-align: center;
            font-size: 5.65vw;
            font-weight: 300;
        }
    }

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 26vw;
        height: 26vw;

        margin-bottom: 22vw;

        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    &__icon {
        display: block;
        width: 11.25vw;
    }

    &__price {
        position: relative;
        margin: 0;

        color: @color-text;
        font-size: 6.3vw;

        width: 100%;

        padding-top: 4vw;
        margin-top: 5.3vw;
        margin-bottom: 4vw;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100vw;
            height: 1px;
            left: -4.7vw;
            top: 0;
            background-color: #DCDCDC;
        }
    }
}