.crumbs {
    padding-bottom: 3.75vw;

    &__link {
        color: @color-blue;
        font-size: 5.65vw;
        font-weight: 600;
        text-decoration: none;

        background-image: url(../../assets/images/icons/icon_arrow-left-blue.svg);
        background-size: 4.6vw;
        background-repeat: no-repeat;
        background-position: left center;

        padding-left: 7vw;
    }
}