.feedback {
    &__box {
        width: 100%;

        color: #fff;
        font-weight: 300;
        text-align: center;

        background-color: @color-blue;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
        border-radius: 23px;

        padding: 5.3vw 8vw;

        box-sizing: border-box;

        & .main__text {
            font-size: 5.65vw;
        }
    }

    &__icon {
        display: block;

        width: 30vw;
        height: 30vw;

        margin: 10vw auto;
    }
}
