.flex {
    display: flex;
    flex-wrap: wrap;

    &--start {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--around {
        justify-content: space-around;
    }

    &--top {
        align-items: flex-start;
    }

    &--middle {
        align-items: center;
    }

    &--bottom {
        align-items: flex-end;
    }

    &--column {
        flex-direction: column;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }

    &--grow {
        flex-grow: 1;
    }
}