.form {

    &>.button {
        margin-top: auto;
        margin-bottom: 9.4vw;
    }

    &__input-wrapper {
        position: relative;

        overflow: hidden;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
        border-radius: 11px;

        margin-bottom: 6.3vw;
    }

    &__file {
        position: absolute;
        display: block;
        z-index: 9;

        width: 8.5vw;
        height: 8.5vw;
        right: 2.5vw;
        bottom: 2.5vw;

        background: #FFFFFF;
        background-image: url("../../assets/images/icons/icon_clip.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;

        border-radius: 50%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

        transition: transform 0.1s, box-shadow 0.1s;

        cursor: pointer;

        &:active {
            transform: translateY(2px);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        }
    }

    &__images-box {
        // width: 100%;
        align-self: baseline;

        margin-bottom: 3vw;
    }

    &__image-wrapper {
        width: 16.6vw;
        height: 16.6vw;

        border-radius: 15px;

        margin-right: 5vw;
        margin-bottom: 3.8vw;

        overflow: hidden;

        &--add-button {
            background-image: url(../../assets/images/icons/icon_plus-blue.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8.4vw;
        }
    }

    &__image {
        object-fit: cover;
        object-position: center;

        width: 100%;
        height: 100%;
    }
}

.textarea {
    border: none;
    resize: none;
    display: block;

    width: 100%;
    height: 51.3vw;

    color: @color-text;
    font-size: 5.7vw;
    font-weight: 300;

    background: #FFFFFF;

    padding: 1.6vw 3.2vw;

    box-sizing: border-box;

    outline: none;
}