.header {
    position: fixed;
    z-index: 50;

    top: 0;
    right: 0;
    left: 0;

    background-color: #fff;

    padding: 2vw 0;
    padding-top: calc(2vw + env(safe-area-inset-top));

    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s;

    &.active {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    }

    & .button-burger {
        position: absolute;

        bottom: 1.7vw;
        left: 2.5vw;
    }

    &__logo {
        width: 51.3vw;
        height: 11.9vw;
    }

    &__link {
        position: absolute;

        bottom: 2.2vw;
        right: 3vw;

        width: 11vw;
        height: 11vw;
    }

    &__cart-count {
        position: absolute;

        top: 3.4vw;
        left: 6vw;
        transform: translate(-50%, -50%);

        color: #fff;
        font-size: 3.8vw;
        font-weight: 700;
    }
}

.add-cart {
    &-enter-active {
        animation: add-cart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &-leave-active {
        animation: add-cart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
            reverse;
    }
}

@keyframes add-cart {
    0% {
        transform: translate(-50%, -20vw);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
