.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    &--mail {
        background-image: url(../../assets/images/icons/icon_mail.svg);
    }

    &--bookmark {
        background-image: url(../../assets/images/icons/icon_bookmark.svg);
    }

    &--credit-card {
        background-image: url(../../assets/images/icons/icon_credit-card.svg);
    }

    &--user {
        background-image: url(../../assets/images/icons/icon_user.svg);
    }

    &--home {
        background-image: url(../../assets/images/icons/icon_home.svg);
    }

    &--paint-roller {
        background-image: url(../../assets/images/icons/icon_paint-roller.svg);
    }

    &--cart {
        background-image: url(../../assets/images/icons/icon_cart.svg);
    }

    &--success {
        background-image: url(../../assets/images/icons/icon_success.svg);
    }

    &--fail {
        background-image: url(../../assets/images/icons/icon_fail.svg);
    }
}
