.blueimp-gallery {
    & .prev,
    & .next {
        display: none !important;
    }
}

.text {
    &-blue {
        color: @color-blue;
    }

    &-big {
        font-size: 5.65vw;
    }

    &-bold {
        font-weight: 600;
    }

    &-normal {
        font-weight: 400;
    }

    &-right {
        text-align: right;
    }
}

.bold {
    font-weight: 600;
}

.mt {
    &-a {
        margin-top: auto;
    }
}
