.main {
    padding-top: calc(20vw + env(safe-area-inset-top));
    padding-bottom: calc(22vw + env(safe-area-inset-bottom));
    flex-grow: 1;

    &__box {
        flex-grow: 1;
        // flex-wrap: nowrap;

        padding: 0 4.7vw;
    }

    &__content {
        padding: 3.2vw 0;
    }

    &__image-box {
        position: relative;

        width: 100vw;
        min-height: 43.8vw;
        height: 43.8vw;

        overflow: hidden;

        background-color: rgb(221, 221, 221);

        margin: 0 -4.7vw;
    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;

        &:before {
            content: " ";
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: rgb(230, 230, 230);
            border: 2px dotted rgb(200, 200, 200);
        }

        &:after {
            content: "Извините, за сломанную картинку :с";
            display: block;
            font-size: 1em;
            font-style: normal;
            color: rgb(100, 100, 100);

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }
    }

    &__text {
        margin: 0;
        font-size: 5vw;

        &.animated-background {
            display: block;

            height: 40vw;
            width: 100%;

            margin: 1vw 0;
        }
    }

    &__title {
        margin: 0;

        max-width: 90.6vw;
        min-height: 10.3vw;

        color: @color-text;
        font-size: 7.5vw;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;

        margin-bottom: 4.7vw;

        overflow: hidden;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 3vw;

        background-color: #fff;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
        border-radius: 23px;

        overflow: hidden;
    }

    &__item-title-box {
        padding: 2.5vw 5vw;
        margin-bottom: 5vw;
    }

    &__item-title {
        margin: 0;

        color: @color-blue;
        font-size: 7.5vw;
        font-weight: 400;

        &.animated-background {
            display: block;

            height: 8.3vw;
            width: 40vw;

            margin: 1vw 0;
        }
    }

    &__item-time {
        font-size: 5.65vw;
        font-weight: 300;

        &.animated-background {
            display: block;

            height: 6.3vw;
            width: 25vw;

            margin: 1vw 0;
        }
    }

    &__item-text {
        margin: 0;

        padding: 0 5vw;

        margin-bottom: 4vw;

        box-sizing: border-box;

        &.animated-background {
            display: block;

            height: 15vw;

            margin: 1vw 5vw;
            margin-bottom: 5vw;
        }
    }

    &__item-info-box {
        color: #fff;
        padding: 3.2vw 5vw;
        background-color: @color-blue;

        &.animated-background {
            color: transparent;

            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        & .main__item-title {
            color: #fff;
            font-weight: 300;
        }
    }

    &__item-price {
        margin: 0;
        font-size: 5.65vw;
        font-weight: 600;
        margin-left: auto;

        &.animated-background {
            display: block;

            height: 6.3vw;
            width: 15vw;

            margin: 1vw 0;
        }
    }

    &__info {
        width: 100%;

        padding: 3.15vw 4.4vw;

        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 11px;

        box-sizing: border-box;
    }

    &__info-text {
        margin: 0;

        font-size: 5.65vw;
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 1vw;
        }

        &.animated-background {
            display: block;

            height: 8.3vw;
            width: 60%;

            margin: 1vw 0;
        }
    }

    &__satisfied-text {
        font-size: 5.65vw;
        font-weight: 400;
        text-align: center;

        margin: 4.4vw 0;
        margin-bottom: 2.4vw;
    }
}
