.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    cursor: pointer;

    // background-color: rgba(0, 0, 0, 0.06);

    &__frame-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 90vh;

        margin-top: auto;

        background-color: #fff;

        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;

        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

        padding-bottom: env(safe-area-inset-bottom);

        box-sizing: border-box;
    }

    &__frame {
        margin: 0;
        padding: 0;

        display: block;

        width: 100%;
        height: 100%;
    }

    &__button {
        width: auto;
        padding: 2vw 3vw;
        font-size: 1em;
        margin: 5vw auto;
    }
}
