.nav {
    position: fixed;
    z-index: 60;
    display: flex;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    padding-top: calc(env(safe-area-inset-top));

    box-sizing: border-box;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        height: 100vh;

        background-color: #fff;

        overflow-y: auto;

        margin-right: auto;

        box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.06);
        border-top-right-radius: 44px;
    }

    &__item {
        &:last-of-type {
            & .nav__link {
                &::before {
                    display: none;
                }
            }
        }
    }

    &__link {
        position: relative;
        display: block;

        min-width: 65vw;

        font-size: 7.5vw;
        color: @color-text;
        font-weight: 300;
        text-decoration: none;

        padding: 2.5vw 6vw;

        transition: background-color 0.15s;

        &::before {
            content: "";
            position: absolute;

            right: 6vw;
            bottom: -1px;
            left: 6vw;

            height: 1px;

            background-color: #DCDCDC;
        }

        &.active {
            color: #fff;
            background-color: @color-blue;

            &::before {
                bottom: 0;
                background-color: @color-blue;
            }
        }
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}