.news {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        width: 100%;

        & .slider {
            width: 100vw;

            margin: 0 -4.7vw;
            margin-bottom: 3.5vw;

            &__item {
                height: 60vw;
            }

            & .swiper-pagination-bullet {
                opacity: 1;
                background-color: #fff;
            }

            & .swiper-pagination-bullet-active {
                background-color: @color-blue;
            }
        }
    }

    &__item {
        padding-bottom: 3vw;

        &:not(:last-child) {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                display: block;

                width: 100vw;
                height: 1px;

                left: -4.7vw;
                bottom: 0;

                background-color: #dcdcdc;
            }
        }
    }

    &__link {
        color: @color-text;
        text-decoration: none;
    }

    &__title,
    &__date {
        margin: 0;

        font-size: 5.65vw;
        font-weight: 600;

        padding: 2vw 0;

        box-sizing: border-box;

        &.animated-background {
            display: block;
            height: 8.3vw;
            width: 40vw;

            padding: 0;
            margin: 3vw 0;
        }
    }

    &__date {
        text-align: right;
        font-weight: 300;

        &.animated-background {
            width: 25vw;
        }
    }

    &__text {
        margin: 0;

        &.animated-background {
            display: block;
            height: 50vw;
            width: 100%;

            margin: 3vw 0;
        }
    }

    &__button {
        border: none;
        padding: 0;

        position: fixed;
        z-index: 40;

        font-size: 4vw;

        top: calc(20vw + env(safe-area-inset-top));
        left: 50%;
        transform: translateX(-50%);

        background-color: #fff;

        padding: 1.5vw 2.5vw;
        border-radius: 5px;

        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }
}
