.order {
    &>.button {
        margin-top: auto;
        margin-bottom: 9.4vw;
    }

    &__header {
        margin-bottom: 4.5vw;
    }

    &__title {
        color: @color-blue;
        font-size: 7.5vw;
        font-weight: 600;

        margin-top: 23vw;
        margin-bottom: 19vw;
    }

    &__text {
        margin: 0;

        font-size: 5.7vw;
        text-align: center;
        font-weight: 300;
    }
}