.service {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        flex-wrap: nowrap;

        &:not(:last-child) {
            padding-bottom: 5.3vw;
            margin-bottom: 4vw;

            &::before {
                content: "";
                position: absolute;
                display: block;

                width: 100vw;
                height: 1px;
                left: -4.7vw;
                bottom: 0;

                background-color: #dcdcdc;
            }
        }
    }

    &__link {
        position: relative;
        display: flex;

        color: @color-text;
        text-decoration: none;

        &--shopping-cart {
            & .service__image-box {
                width: 21.25vw;
                min-width: 21.25vw;
            }
        }

        &>.flex {
            flex-wrap: nowrap;
        }
    }

    &__image-box {
        position: relative;

        width: 31.25vw;
        min-width: 31.25vw;
        min-height: 31.25vw;

        border-radius: 15px;

        margin-right: 7.5vw;

        overflow: hidden;
    }

    &__image {
        object-fit: cover;
        object-position: center;

        width: 100%;
        height: 100%;

        font-weight: 300;
        text-align: center;

        &:before {
            content: " ";
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: rgb(230, 230, 230);
            border: 2px dotted rgb(200, 200, 200);
            border-radius: 15px;
        }

        &:after {
            content: "Извините, за сломанную картинку :с";
            display: block;
            font-size: 0.7em;
            font-style: normal;
            color: rgb(100, 100, 100);

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;

            padding: 0 1vw;

            box-sizing: border-box;
        }
    }

    &__box {
        flex-grow: 1;
    }

    &__title {
        margin: 0;

        font-size: 5.65vw;
        font-weight: 400;

        margin-bottom: 3.5vw;

        &.animated-background {
            width: 45vw;
            height: 8.3vw;

            margin: 1vw 0;
            margin-bottom: 4.5vw;
        }
    }

    &__count-box {
        display: flex;

        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        margin-bottom: 3.4vw;

        overflow: hidden;

        &.animated-background {
            box-shadow: none;

            & .service {

                &__count-button,
                &__count-input {
                    opacity: 0;
                }
            }
        }
    }

    &__count-button {
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 9.6vw;
        height: 10.6vw;

        & .icon {
            width: 4vw;
        }
    }

    &__count-input {
        margin: 0;
        padding: 0;
        border: none;

        width: 14vw;

        color: @color-text;
        font-size: 5.65vw;
        font-weight: 400;
        text-align: center;

        outline: none;
    }

    &__price {
        margin: 0;

        color: @color-text;
        font-size: 5.65vw;
        font-weight: 600;

        &.animated-background {
            width: 20vw;
            height: 8.3vw;

            margin: 1vw 0;

            color: transparent;
        }
    }

    &__line {
        border-bottom: 1px solid #dcdcdc;

        padding-bottom: 3.75vw;
        margin-bottom: 1.25vw;

        & .button {
            width: 40.5vw;
        }
    }

    &__delete {
        position: absolute;

        padding: 0;
        border: none;
        display: block;

        width: 12vw;
        height: 12vw;

        right: 0;
        bottom: 11vw;

        background-color: @color-blue;
        background-image: url("../../assets/images/icons/icon_delete.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 11.5vw;
        border-radius: 11px;
    }
}