.services {
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        padding: 0 1vw;
    }

    &__item {
        margin: 0 1vw;
        margin-bottom: 2vw;
    }

    &__link {
        flex-wrap: nowrap;

        color: @color-text;
        text-align: center;
        text-decoration: none;

        width: 42vw;
        min-height: 24.2vh;
        height: 24.2vh;

        background: #FFFFFF;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.06), inset 0px 0px 0px rgba(0, 0, 0, 0.1);
        border-radius: 23px;

        padding: 6.3vw;

        box-sizing: border-box;

        transition: opacity 0.15s, box-shadow 0.15s;

        &:active {
            opacity: 1;

            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06), inset 4px 4px 8px rgba(0, 0, 0, 0.1);

            & .services {

                &__icon,
                &__text {
                    transform: translate(4px, 4px);
                }
            }
        }

        &.animated-background {
            border-radius: 23px;
        }
    }

    &__icon {
        width: 16vw;
        margin-bottom: 3vw;
    }

    &__text {
        color: @color-text;
        font-size: 4.1vw;
        font-weight: 300;
        text-align: center;
    }

    &__icon,
    &__text {
        transition: transform 0.15s;
    }
}