.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    // max-height: 100vh;

    padding-top: 14.1vw;
    padding-bottom: 23.5vw;

    &__logo {
        width: 51%;
    }

    &__title {
        margin: 0;

        font-size: 1.5em;
        font-weight: normal;
        text-align: center;

        max-width: 80vw;

        &.animated-background {
            height: 9vw;
        }
    }

    &__button-box {
        width: 63vw;

        & .button {
            width: 100%;

            margin-bottom: 4vw;
        }
    }

    &__text {
        margin: 0;

        font-size: 1.13em;
    }

    &__form {
        width: 65vw;
        margin-top: auto;
        margin-bottom: auto;

        & .button {
            width: 100%;

            margin-top: 5vw;

            &.animated-background {
                color: rgba(0, 0, 0, 0.5);
            }

            &:active {
                opacity: 1;
            }
        }

        & fieldset {
            border: none;
            padding: 0;
            margin: 0;

            &.hidden {
                display: none;
            }
        }
    }

    &__input {
        border: none;
        border-radius: 0;
        box-shadow: none;

        width: 100%;

        font-weight: 300;
        font-size: 1.13em;

        border-bottom: 1px solid @color-gray;

        padding: 1.6vw;
        margin-bottom: 8vw;

        outline: none;
        box-sizing: border-box;

        transition: border-color 0.15s;

        &--error {
            border-color: @color-red;
        }

        &--success {
            border-color: @color-green;
        }
    }

    &__input-group {
        display: flex;
        justify-content: space-between;

        & .signin {
            &__input {
                width: 47%;
            }
        }
    }
}