<template>
    <div>
        <div class="flex flex--between flex--bottom">
            <h2
                class="news__title"
                :class="{ 'animated-background': !data.title }"
            >
                {{ data.title }}
            </h2>
            <time
                class="news__date"
                :class="{ 'animated-background': !data.created_at }"
                >{{ data.created_at }}</time
            >
        </div>

        <div class="slider" v-if="!data.image">
            <div class="slider__item animated-background"></div>
        </div>

        <template v-if="typeof data.image == 'string'">
            <swiper :options="swiperOption" ref="mySwiper" class="slider">
                <swiper-slide class="slider__item">
                    <img
                        :src="data.image"
                        :alt="data.title"
                        class="slider__image"
                    />
                </swiper-slide>
            </swiper>
        </template>

        <template v-else>
            <swiper :options="swiperOption" ref="mySwiper" class="slider">
                <swiper-slide
                    class="slider__item"
                    v-for="(image, index) in data.image"
                    :key="index"
                >
                    <img :src="image" :alt="data.title" class="slider__image" />
                </swiper-slide>
                <div
                    class="swiper-pagination"
                    slot="pagination"
                    v-if="data.image > 1"
                ></div>
            </swiper>
        </template>

        <p class="news__text" :class="{ 'animated-background': !data.content }">
            {{ text ? text : data.content }}
        </p>
    </div>
</template>

<script>
import "swiper/dist/css/swiper.css";

import { swiper, swiperSlide } from "vue-awesome-swiper";

export default {
    name: "InfoCard",

    components: {
        swiper,
        swiperSlide
    },

    props: ["data"],

    data() {
        return {
            text: null,
            swiperOption: {
                loop: false,
                iOSEdgeSwipeDetection: true,
                pagination: {
                    el: ".swiper-pagination",
                    dynamicBullets: true
                }
            }
        };
    },

    methods: {
        sliceText() {
            if (!this.data.full && this.data.content) {
                this.text =
                    this.data.content.length > 250
                        ? this.data.content.slice(0, 251) + "..."
                        : this.data.content;
            } else {
                this.text = this.data.content;
            }
        }
    },

    mounted() {
        this.sliceText();
    }
};
</script>
