<template>
  <div>
    <div class="main__item-title-box flex flex--between flex--bottom">
      <h2 class="main__item-title" :class="{ 'animated-background': !data.id }">
        Заявка {{ data.id }}
      </h2>
      <time
        class="main__item-time"
        :class="{ 'animated-background': !data.id }"
        :datetime="data.created_at"
      >
        {{ data.created_at }}
      </time>
    </div>
    <template v-if="data.services">
      <ul class="main__item-sublist">
        <li
          class="main__item-subitem"
          v-for="(service, index) in data.services"
          :key="index"
        >
          {{ service.service_name }}
        </li>
      </ul>
    </template>
    <p class="main__item-text" :class="{ 'animated-background': !data.id }">
      {{ data.comment }}
    </p>
    <div
      class="main__item-info-box flex"
      :class="{ 'animated-background': !data.id }"
    >
      <span>{{ getStatus }}</span>
      <p class="main__item-price" v-if="data.total > 0">{{ data.total }} Р</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "CorporateOrderHistory",

  props: ["data"],

  data() {
    return {};
  },

  computed: {
    getStatus() {
      if (this.data.invoice) {
        return JSON.parse(localStorage.getItem("statusesInvoices"))[
          this.data.status
        ];
      } else {
        return JSON.parse(localStorage.getItem("statuses"))[this.data.status];
      }
    }
  }
};
</script>
