<template>
  <div class="service__link">
    <template v-if="!data">
      <div class="service__image-box animated-background"></div>
      <div class="service__box flex flex--column flex--top flex--bottom">
        <h2 class="service__title animated-background"></h2>
        <span
          class="service__price service__price--count animated-background"
        ></span>
        <div class="service__count-box animated-background">
          <span class="service__count-input"></span>
        </div>
        <p class="service__price animated-background"></p>
      </div>
    </template>

    <template v-else>
      <div class="service__image-box">
        <img
          v-if="data.image"
          :src="data.image"
          :alt="'Заявка' + data.id"
          class="service__image"
        />
      </div>
      <div class="service__box flex flex--column flex--top flex--bottom">
        <h2 class="service__title">{{ data.service_name }}</h2>
        <span class="service__price service__price--count"
          >{{ data.price }} Р</span
        >
        <div class="service__count-box">
          <span class="service__count-input">{{ data.quantity }}</span>
        </div>
        <p class="service__price">{{ data.price * data.quantity }} Р</p>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "OrderCartInfo",

  props: ["data"],

  data() {
    return {};
  },
};
</script>

<style lang="less" scoped>
.service__title {
  margin: 0;
}

.service__count-input {
  height: 10.6vw;
  width: 25vw;
  box-sizing: border-box;
  padding-top: 1.4vw;
}

.service__image-box {
  width: 29vw;
  min-width: 29vw;
}

.cart__price {
  margin-bottom: 10vw;
}

.animated-background {
  &.service__title {
    height: 6.85vw;
    margin: 0.5vw 0;
  }

  &.service__count-box {
    margin-top: 0.5vw;
    margin-bottom: 3vw;
  }

  &.service__price {
    height: 6.2vw;

    margin: 0.5vw 0;

    &--count {
      width: 35vw;
    }
  }
}
</style>
