<template>
  <div class="flex flex--nowrap">
    <div
      class="service__image-box"
      :class="{ 'animated-background': !data.image }"
    >
      <img :src="data.image" :alt="data.name" class="service__image" />
    </div>
    <div class="service__box flex flex--column flex--top">
      <h2 class="service__title" :class="{ 'animated-background': !data.name }">
        {{ data.name }}
      </h2>

      <div
        class="service__count-box"
        :class="{ 'animated-background': !data.countAvailable }"
        v-if="data.countAvailable"
      >
        <button class="service__count-button" @click="remove">
          <img
            src="@/assets/images/icons/icon_minus.svg"
            alt="Убавить"
            class="icon"
          />
        </button>
        <input
          type="number"
          class="service__count-input"
          v-model.trim="data.count"
          min="1"
          @blur="userInput"
        />
        <button class="service__count-button" @click="add">
          <img
            src="@/assets/images/icons/icon_plus.svg"
            alt="Прибавить"
            class="icon"
          />
        </button>
      </div>
      <p class="service__price" :class="{ 'animated-background': !data.price }">
        {{ data.price }} Р
      </p>
    </div>

    <button class="service__delete" v-if="data.delete" @click="removeFromCart">
      <span class="visually-hidden">Удалить услугу из корзины</span>
    </button>
  </div>
</template>

<script>
export default {
  name: "ServiceBlock",

  props: ["data"],

  data() {
    return {};
  },

  methods: {
    add() {
      this.data.count++;

      this.refreshCartCount(this.data.count);
      this.$root.$emit("RefreshTotal");
    },

    remove() {
      if (this.data.count > 1) {
        this.data.count--;
        this.refreshCartCount(this.data.count);
        this.$root.$emit("RefreshTotal");
      }
    },

    userInput() {
      if (isNaN(parseInt(this.data.count)) || parseInt(this.data.count) <= 0) {
        this.data.count = 1;
      } else {
        this.data.count = parseInt(this.data.count);
      }

      this.refreshCartCount(this.data.count);
      this.$root.$emit("RefreshTotal");
    },

    removeFromCart() {
      const cartArr = JSON.parse(localStorage.getItem("cart"));
      const newCartArr = this.filter(cartArr, this.data.id);

      localStorage.setItem("cart", JSON.stringify(newCartArr));
      this.$root.$emit("RefreshShoppingCart");
      this.$root.$emit("RefreshTotal");
      this.$root.$emit("printCountCart");
    },

    refreshCartCount(count) {
      const cartArr = JSON.parse(localStorage.getItem("cart"));
      let newCartArr;

      newCartArr = cartArr.map((item) => {
        if (this.data.id == item.id) {
          item.count = count;
        }
        return item;
      });

      localStorage.setItem("cart", JSON.stringify(newCartArr));
    },

    filter(arr, data) {
      return arr.filter((item) => item.id != data);
    },
  },
};
</script>
