<template>
  <transition name="alert-slide">
    <div :class="['alert', getMessage.type]" v-if="getMessage.message">{{ getMessage.message }}</div>
  </transition>
</template>

<script>
export default {
  name: "Alert",

  data() {
    return {};
  },

  computed: {
    getMessage() {
      return this.$store.getters.MESSAGE;
    }
  }
};
</script>
