<template>
  <section class="main__box order flex flex--column">
    <div class="main__list">
      <div class="flex flex--between flex--middle flex--nowrap order__header">
        <div class="flex flex--column w-100">
          <h1
            class="main__item-title"
            :class="{ 'animated-background' : !order.id }"
          >Заявка {{ order.id }}</h1>
          <span class="text-blue">{{ getStatus }}</span>
        </div>
        <div>
          <time
            class="main__item-time flex flex--column flex--bottom"
            :class="{ 'animated-background' : !order.id }"
          >
            <span class="flex flex--column text-right">{{ time }}</span>
          </time>
        </div>
      </div>

      <p class="main__text" :class="{ 'animated-background' : !order.id }">{{ order.comment }}</p>

      <!-- Блок с анимацией незагруженых картинок -->
      <div class="form__images-box" v-if="!order.id">
        <div class="form__images flex">
          <div class="form__image-wrapper animated-background"></div>
          <div class="form__image-wrapper animated-background"></div>
          <div class="form__image-wrapper animated-background"></div>
        </div>
      </div>

      <div class="form__images-box" v-if="order.images">
        <div class="form__images flex">
          <div
            class="form__image-wrapper"
            v-for="(image, imageIndex) in order.images"
            :key="imageIndex"
            @click="index = imageIndex"
          >
            <img :src="image" class="form__image" />
          </div>
        </div>
        <VueGallery :images="order.images" :index="index" @close="index = null"></VueGallery>
      </div>

      <!-- Блок с анимацией информации о сроках и кто выполнил -->

      <div class="main__info" v-if="!order.id">
        <p class="main__info-text animated-background"></p>
        <p class="main__info-text animated-background"></p>
      </div>

      <div class="main__info" v-if="order.executor">
        <p class="main__info-text">Выполнил: {{ order.executor }}</p>
        <p class="main__info-text">Срок: {{ order.appointed_at }}</p>
      </div>

      <div class="flex flex--column flex--middle">
        <p class="main__satisfied-text">Вы довольны сервисом?</p>
        <div class="flex flex--center" v-if="order.vote != 0 || (like || dislike)">
          <div
            class="button-satisfied button-satisfied--like"
            :class="{ 'active' : order.vote == 1 || like }"
          >
            <svg class="icon">
              <use xlink:href="@/assets/images/icons/icon_sprite-like.svg#like" />
            </svg>
            <span class="visually-hidden">Доволен</span>
          </div>

          <div
            class="button-satisfied button-satisfied--dislike"
            :class="{ 'active' : order.vote == -1 || dislike }"
          >
            <svg class="icon">
              <use xlink:href="@/assets/images/icons/icon_sprite-like.svg#dislike" />
            </svg>
            <span class="visually-hidden">Не доволен</span>
          </div>
        </div>

        <div class="flex flex--center" v-else>
          <button
            @click="satisfiedLike"
            class="button-satisfied button-satisfied--like"
            :class="{ 'active' : like }"
          >
            <svg class="icon">
              <use xlink:href="@/assets/images/icons/icon_sprite-like.svg#like" />
            </svg>
            <span class="visually-hidden">Доволен</span>
          </button>

          <button
            @click="satisfiedDislike"
            class="button-satisfied button-satisfied--dislike"
            :class="{ 'active' : dislike }"
          >
            <svg class="icon">
              <use xlink:href="@/assets/images/icons/icon_sprite-like.svg#dislike" />
            </svg>
            <span class="visually-hidden">Не доволен</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import VueGallery from "vue-gallery";

export default {
  name: "CorporateOrder",

  components: {
    VueGallery
  },

  data() {
    return {
      id: this.$route.params.id,
      like: false,
      dislike: false,
      index: null
    };
  },

  methods: {
    satisfiedLike() {
      if (this.order.vote == 0) {
        this.like = true;
        this.$store.dispatch("PUSH_VOTE", {
          id: this.id,
          data: {
            vote: 1
          }
        });
      }
    },

    satisfiedDislike() {
      if (this.order.vote == 0) {
        this.dislike = true;
        this.$store.dispatch("PUSH_VOTE", {
          id: this.id,
          data: {
            vote: -1
          }
        });
      }
    }
  },

  computed: {
    order() {
      return this.$store.getters.ORDER;
    },

    time() {
      return this.order.status_updated_at;
    },

    getStatus() {
      return JSON.parse(localStorage.getItem("statuses"))[this.order.status];
    }
  },

  mounted() {
    document.documentElement.scrollTop = 0;

    this.$store.dispatch("GET_ORDER", this.id);
  }
};
</script>

<style lang="less" scoped>
.form__images-box {
  margin-top: 5vw;
}
.w-100 {
  width: 100%;
}
.main__item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 65vw;
}
</style>
