<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">Заказ</h1>
    <form
      @submit.prevent="submit"
      class="main__form form flex flex--column flex--middle flex--grow"
    >
      <div class="form__input-wrapper">
        <textarea
          cols="30"
          rows="10"
          v-model="message"
          class="textarea"
          required
          placeholder="Опишите ситуацию"
        ></textarea>
      </div>
      <div class="form__images-box">
        <div class="form__images flex">
          <div class="flex" v-if="showImagesBox">
            <div
              class="form__image-wrapper"
              v-for="(image, imageIndex) in images"
              :key="imageIndex"
              @click="index = imageIndex"
            >
              <img :src="image" class="form__image" />
            </div>
          </div>

          <label
            v-if="!hideAddButton"
            class="form__image-wrapper form__image-wrapper--add-button"
          >
            <input
              type="file"
              multiple
              class="visually-hidden"
              @change="onFileChange"
            />
          </label>
        </div>
        <button
          type="button"
          class="button button--white button--small"
          @click="clearImages"
          v-if="showImagesBox"
        >
          Удалить
        </button>

        <VueGallery
          v-if="showImagesBox"
          :images="images"
          :index="index"
          @close="index = null"
        ></VueGallery>
      </div>
      <button
        type="submit"
        class="button"
        :class="{ 'animated-background': !orderStatus.response }"
        @click="submit"
        :disabled="!orderStatus.response"
      >
        Отправить
      </button>
    </form>
  </section>
</template>

<script>
import VueGallery from "vue-gallery";

let formData = new FormData();

export default {
  name: "CorporateOrderCreate",

  components: {
    VueGallery,
  },

  data() {
    return {
      message: null,
      showImagesBox: false,
      images: new Array(),
      index: null,
      hideAddButton: false,
    };
  },
  methods: {
    onFileChange(e) {
      this.images = new Array();
      const files = e.target.files;
      const maxImageCount = 4;
      let counter = 0;

      files.forEach((file) => {
        counter++;

        if (counter <= maxImageCount) {
          if (file.type == "image/png" || file.type == "image/jpeg") {
            this.images.push(URL.createObjectURL(file));
            formData.append("images[]", file);

            this.showImagesBox = true;
          } else {
            this.$store.dispatch("SHOW_ALERT", {
              message: `Разрешена загрузка только картинок`,
            });
          }
        } else {
          this.showImagesBox = true;
          this.hideAddButton = true;

          this.$store.dispatch("SHOW_ALERT", {
            message: `Максимальное колличество кртинок: ${maxImageCount}`,
          });
        }

        if (counter == maxImageCount) {
          this.showImagesBox = true;
          this.hideAddButton = true;
        }
      });
    },

    clearImages() {
      formData = new FormData();

      this.hideAddButton = false;
      this.showImagesBox = false;
      this.images = new Array();
    },

    submit() {
      if (this.message) {
        formData.append("comment", this.message);

        this.$store.dispatch("PUSH_ORDER", formData);
      }
    },
  },

  computed: {
    orderStatus() {
      return this.$store.getters.ORDERSTATUS;
    },
  },

  updated() {
    if (this.orderStatus.success == true) {
      this.$store.commit("SET_ORDERSTATUS", {
        success: null,
        response: true,
      });

      this.$router.push({ name: "CorporateOrderCompleted" });
    }
  },
};
</script>
