<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">История заявок</h1>

    <ul class="main__list" v-if="!orders.data">
      <li class="main__item">
        <OrderCard :data="new Object()"></OrderCard>
      </li>
      <li class="main__item" style="opacity: 0.6;">
        <OrderCard :data="new Object()"></OrderCard>
      </li>
      <li class="main__item" style="opacity: 0.3;">
        <OrderCard :data="new Object()"></OrderCard>
      </li>
    </ul>

    <ul class="main__list" v-else>
      <li class="main__item" v-for="(order, index) in orders.data" :key="index">
        <router-link
          class="news__link"
          @click.native="setOrder(order)"
          :to="{ name: 'CorporateOrder', params: { id: order.id } }"
        >
          <OrderCard :data="order"></OrderCard>
        </router-link>
      </li>
    </ul>

    <div class="flex flex--center" v-if="lastPage">Больше заявок нет</div>
    <transition name="refresh-button">
      <button class="news__button" @click="refresh" v-if="showRefreshButton">К последним заявкам</button>
    </transition>
  </section>
</template>

<script>
import OrderCard from "@/components/common/OrderCard.vue";

let refreshButton = false;

let prependStatus = false;
let pageHeightBefore = 0;
let pageHeightAfter = 0;
let scrollHeight = 0;

export default {
  name: "CorporateOrderHistory",

  components: {
    OrderCard
  },
  data() {
    return {
      lastPage: false,
      showRefreshButton: false
    };
  },

  methods: {
    setOrder(data) {
      this.$store.dispatch("SET_ORDER", data);
    },

    onScroll() {
      const scrollPosition = window.pageYOffset;
      const pageHeight = document.documentElement.scrollHeight;
      const windowHeight = document.documentElement.clientHeight;

      if (
        scrollPosition + windowHeight * 3 >= pageHeight &&
        !this.awaitResponse
      ) {
        this.nextPage();
      }

      if (!refreshButton) {
        if (scrollPosition >= windowHeight * 2) {
          this.showRefreshButton = true;
        } else {
          this.showRefreshButton = false;
        }
      }
    },

    nextPage() {
      const pages = parseInt(this.orders.size);
      let currentPage = this.$route.query.page || 1;

      if (currentPage < pages) {
        prependStatus = false;
        currentPage++;

        this.$router.replace({
          name: "RetailOrderHistory",
          query: { page: currentPage }
        });

        this.$store.dispatch("GET_ORDERS", {
          page: currentPage,
          refresh: false
        });
      } else {
        this.lastPage = true;
      }
    },

    prewPage() {
      let currentPage = parseInt(this.newsList.page);

      if (currentPage > 1) {
        prependStatus = true;
        currentPage--;

        this.$store.dispatch("GET_ORDERS", {
          page: "RetailOrderHistory",
          refresh: false,
          prepend: true
        });
      }
    },

    refresh() {
      let w = window.pageYOffset,
        t = -w,
        v = 0.02,
        start = null;

      requestAnimationFrame(step);

      function step(time) {
        if (start === null) start = time;
        let progress = time - start,
          r =
            t < 0
              ? Math.max(w - progress / v, w + t)
              : Math.min(w + progress / v, w + t);

        window.scrollTo(0, r);

        if (r != w + t) {
          requestAnimationFrame(step);
        }
      }

      if (this.$route.query.page != 1) {
        this.$store.dispatch("GET_ORDERS", {
          page: 1,
          refresh: true
        });

        this.$router.replace({
          name: "RetailOrderHistory",
          query: { page: 1 }
        });
      }

      refreshButton = false;
      this.showRefreshButton = false;
    },

    compensateScroll() {
      if (prependStatus) {
        window.scrollTo(0, pageHeightAfter - pageHeightBefore + scrollHeight);
      }
    }
  },

  computed: {
    orders() {
      return this.$store.getters.ORDERS;
    },

    awaitResponse() {
      return this.$store.getters.AWAITRESPONSE;
    }
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);

    this.$store.dispatch("GET_ORDERS", {
      page: this.$route.query.page,
      refresh: this.$route.query.page > 1 ? false : true
    });

    if (this.$route.query.page > 1) {
      refreshButton = true;
      this.showRefreshButton = true;
    }
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },

  beforeUpdate() {
    pageHeightBefore = document.documentElement.scrollHeight;
    scrollHeight = window.pageYOffset;
    this.compensateScroll();
  },

  updated() {
    pageHeightAfter = document.documentElement.scrollHeight;
    this.compensateScroll();
  }
};
</script>
