<template>
  <section class="main__box order flex flex--column flex--middle">
    <h1 class="order__title">Спасибо за заказ</h1>
    <p class="order__text">
      Вы можете отследить статус заказа в «Истории заказов»
      <br />
      <br />
    </p>
    <router-link :to="{ name: 'CorporateOrderHistory' }" class="button">Отслеживать</router-link>
  </section>
</template>

<script>
export default {
  name: "CorporateOrderCompleted",
  data() {
    return {};
  }
};
</script>