<template>
  <section class="main__box portfolio flex flex--column">
    <h1 class="main__title">Портфолио</h1>

    <!-- Блок с анимацией -->

    <div class="news__list" v-if="!projectList">
      <div class="news__item">
        <InfoCard :data="new Object()"></InfoCard>
      </div>
      <div class="news__item" style="opacity: 0.6">
        <InfoCard :data="new Object()"></InfoCard>
      </div>
      <div class="news__item" style="opacity: 0.3">
        <InfoCard :data="new Object()"></InfoCard>
      </div>
    </div>

    <ul class="news__list" v-else>
      <li class="news__item" v-for="(item, id) in projectList" :key="id">
        <router-link
          class="news__link"
          @click.native="setProject(item)"
          :to="{
            name: redirectName,
            params: { id: item.id }
          }"
        >
          <InfoCard :data="item"></InfoCard>
        </router-link>
      </li>
    </ul>
  </section>
</template>

<script>
import InfoCard from "@/components/common/InfoCard.vue";

export default {
  name: "PortfolioList",

  components: {
    InfoCard
  },

  data() {
    return {
      redirectName:
        localStorage.getItem("user") == "corporate"
          ? "CorporatePortfolio"
          : "RetailPortfolio"
    };
  },

  methods: {
    setProject(data) {
      this.$store.dispatch("SET_PROJECT", data);
    }
  },

  computed: {
    projectList() {
      return this.$store.getters.PROJECTLIST;
    }
  },

  mounted() {
    this.$store.dispatch("GET_PROJECTLIST");
  }
};
</script>