<template>
  <section class="main__box portfolio flex flex--column">
    <h1 class="main__title">Портфолио</h1>

    <div class="news__list">
      <InfoCard :data="new Object()" v-if="!project"></InfoCard>

      <InfoCard :data="project" v-else></InfoCard>
    </div>
  </section>
</template>

<script>
import InfoCard from "@/components/common/InfoCard.vue";

export default {
  name: "Project",

  components: {
    InfoCard
  },

  props: ["id"],

  data() {
    return {
      data: new Object(),
      getApiData: this.news ? false : true
    };
  },

  computed: {
    project() {
      return { ...this.$store.getters.PROJECT, full: true };
    }
  },

  mounted() {
    this.$store.dispatch("GET_PROJECT", this.id);
  }
};
</script>
