<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">Новости</h1>
    <div class="news__list" v-if="!newsList.data">
      <div class="news__item">
        <InfoCard :data="new Object()"></InfoCard>
      </div>

      <div class="news__item" style="opacity: 0.6">
        <InfoCard :data="new Object()"></InfoCard>
      </div>

      <div class="news__item" style="opacity: 0.3">
        <InfoCard :data="new Object()"></InfoCard>
      </div>
    </div>

    <ul class="news__list" v-else>
      <li class="news__item" v-for="(news, id) in newsList.data" :key="id">
        <router-link
          class="news__link"
          @click.native="setNews(news)"
          :to="{
            name: redirectName,
            params: { id: news.id }
          }"
        >
          <InfoCard :data="news"></InfoCard>
        </router-link>
      </li>
    </ul>
    <div class="flex flex--center" v-if="lastPage">Больше новостей нет</div>
    <transition name="refresh-button">
      <button class="news__button" @click="refresh" v-if="showRefreshButton">К последним новостям</button>
    </transition>
  </section>
</template>

<script>
import InfoCard from "@/components/common/InfoCard.vue";

let refreshButton = false;

const currentPath =
  localStorage.getItem("user") == "corporate" ? "NewsList" : "RetailNewsList";
let prependStatus = false;
let pageHeightBefore = 0;
let pageHeightAfter = 0;
let scrollHeight = 0;

export default {
  name: "NewsList",

  components: {
    InfoCard
  },

  data() {
    return {
      redirectName:
        localStorage.getItem("user") == "corporate" ? "News" : "RetailNews",
      lastPage: false,
      showRefreshButton: false
    };
  },

  methods: {
    setNews(data) {
      this.$store.dispatch("SET_NEWS", data);
    },

    onScroll() {
      const scrollPosition = window.pageYOffset;
      const pageHeight = document.documentElement.scrollHeight;
      const windowHeight = document.documentElement.clientHeight;

      if (
        scrollPosition + windowHeight * 3 >= pageHeight &&
        !this.awaitResponse
      ) {
        this.nextPage();
      }

      if (!refreshButton) {
        if (scrollPosition >= windowHeight * 2) {
          this.showRefreshButton = true;
        } else {
          this.showRefreshButton = false;
        }
      }

      // if (
      //   this.$route.query.page > 1 &&
      //   scrollPosition <= windowHeight &&
      //   !this.awaitResponse
      // ) {
      //   this.prewPage();
      // }
    },

    nextPage() {
      const pages = parseInt(this.newsList.size);
      let currentPage = this.$route.query.page || 1;

      if (currentPage < pages) {
        prependStatus = false;
        currentPage++;

        this.$router.replace({
          name: currentPath,
          query: { page: currentPage }
        });

        this.$store.dispatch("GET_NEWSLIST", {
          page: currentPage,
          refresh: false
        });
      } else {
        this.lastPage = true;
      }
    },

    prewPage() {
      let currentPage = parseInt(this.newsList.page);

      if (currentPage > 1) {
        prependStatus = true;
        currentPage--;

        this.$store.dispatch("GET_NEWSLIST", {
          page: currentPage,
          refresh: false,
          prepend: true
        });
      }
    },

    refresh() {
      let w = window.pageYOffset,
        t = -w,
        v = 0.02,
        start = null;

      requestAnimationFrame(step);

      function step(time) {
        if (start === null) start = time;
        let progress = time - start,
          r =
            t < 0
              ? Math.max(w - progress / v, w + t)
              : Math.min(w + progress / v, w + t);

        window.scrollTo(0, r);

        if (r != w + t) {
          requestAnimationFrame(step);
        }
      }

      if (this.$route.query.page != 1) {
        this.$store.dispatch("GET_NEWSLIST", {
          page: 1,
          refresh: true
        });

        this.$router.replace({
          name: currentPath,
          query: { page: 1 }
        });
      }

      refreshButton = false;
      this.showRefreshButton = false;
    },

    compensateScroll() {
      if (prependStatus) {
        window.scrollTo(0, pageHeightAfter - pageHeightBefore + scrollHeight);
      }
    }
  },

  computed: {
    newsList() {
      return this.$store.getters.NEWSLIST;
    },

    awaitResponse() {
      return this.$store.getters.AWAITRESPONSE;
    }
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);

    this.$store.dispatch("GET_NEWSLIST", {
      page: this.$route.query.page,
      refresh: this.$route.query.page > 1 ? false : true
    });

    if (this.$route.query.page > 1) {
      refreshButton = true;
      this.showRefreshButton = true;
    }
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },

  beforeUpdate() {
    pageHeightBefore = document.documentElement.scrollHeight;
    scrollHeight = window.pageYOffset;
    this.compensateScroll();
  },

  updated() {
    pageHeightAfter = document.documentElement.scrollHeight;
    this.compensateScroll();
  }
};
</script>
