<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">Новости</h1>

    <div class="news__list">
      <InfoCard :data="new Object()" v-if="!news"></InfoCard>

      <InfoCard :data="news" v-else></InfoCard>
    </div>
  </section>
</template>

<script>
import InfoCard from "@/components/common/InfoCard.vue";

export default {
  name: "News",

  props: ["id"],

  components: {
    InfoCard
  },

  data() {
    return {};
  },

  computed: {
    news() {
      return { ...this.$store.getters.NEWS, full: true };
    }
  },

  mounted() {
    document.documentElement.scrollTop = 0;

    this.$store.dispatch("GET_NEWS", this.id);
  }
};
</script>
