<template>
  <section class="main__box flex flex--column flex--center">
    <ul class="services__list" v-if="!servicesList">
      <li class="services__item">
        <div class="services__link animated-background"></div>
      </li>
      <li class="services__item" style="opacity: 0.9">
        <div class="services__link animated-background"></div>
      </li>
      <li class="services__item" style="opacity: 0.7">
        <div class="services__link animated-background"></div>
      </li>
      <li class="services__item" style="opacity: 0.5">
        <div class="services__link animated-background"></div>
      </li>
      <li class="services__item" style="opacity: 0.3">
        <div class="services__link animated-background"></div>
      </li>
      <li class="services__item" style="opacity: 0.1">
        <div class="services__link animated-background"></div>
      </li>
    </ul>

    <ul class="services__list" v-else>
      <li class="services__item" v-for="(servis, id) in servicesList" :key="id">
        <router-link
          :to="{
                        name: 'RetailService',
                        params: { id: servis.id, name: servis.name }
                    }"
          class="services__link flex flex--column flex--middle flex--center"
        >
          <img :src="servis.image" alt class="services__icon" />
          <span class="services__name">{{ servis.name }}</span>
        </router-link>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: "RetailServicesList",

  data() {
    return {};
  },

  computed: {
    servicesList() {
      return this.$store.getters.SERVICESLIST;
    }
  },

  mounted() {
    window.scrollTo(0, 0);
    this.$store.dispatch("GET_SERVICESLIST");
  }
};
</script>
