<template>
  <section class="main__box flex flex--column">
    <a @click="$router.go(-1)" class="crumbs__link">Каталог</a>
    <h1 class="main__title">{{ title }}</h1>
    <ul class="service__list" v-if="!servicesCategory[0]">
      <li class="service__item">
        <ServiceBlock :data="new Object()"></ServiceBlock>
      </li>
      <li class="service__item" style="opacity: 0.6;">
        <ServiceBlock :data="new Object()"></ServiceBlock>
      </li>
      <li class="service__item" style="opacity: 0.3;">
        <ServiceBlock :data="new Object()"></ServiceBlock>
      </li>
    </ul>

    <ul class="service__list" v-else>
      <li class="service__item" v-for="(servis, id) in servicesCategory[0].services" :key="id">
        <router-link
          class="service__link"
          @click.native="setServicesItem(servis)"
          :to="{
            name: 'RetailServiceItem',
            params: {
              service: servis.id,
              name: name
            }
          }"
        >
          <ServiceBlock :data="servis"></ServiceBlock>
        </router-link>
      </li>
    </ul>
  </section>
</template>

<script>
import ServiceBlock from "@/components/common/ServiceBlock.vue";

export default {
  name: "RetailService",

  props: ["id", "name"],

  components: {
    ServiceBlock
  },

  data() {
    return {
      title: this.name ? this.name : localStorage.getItem("serviceName")
    };
  },

  methods: {
    setServicesItem(data) {
      this.$store.dispatch("SET_SERVICESITEM", data);
    }
  },

  computed: {
    servicesCategory() {
      return this.$store.getters.SERVICESCATEGORY.filter(
        item => item.id == this.id
      );
    }
  },

  mounted() {
    if (this.name) {
      localStorage.setItem("serviceName", this.name);
    }

    this.$store.dispatch("GET_SERVICESCATEGORY", this.id);
  }
};
</script>

<style lang="less" scoped>
.crumbs__link {
  margin-bottom: 3.5vw;
}
</style>
