<template>
  <section class="main__box flex flex--column">
    <div class="crumbs">
      <a @click="$router.go(-1)" class="crumbs__link">
        {{ serviceName }}
      </a>
    </div>

    <template v-if="!servicesItem">
      <div class="main__image-box animated-background"></div>
      <div class="main__content">
        <p class="main__text bold text-big animated-background"></p>
      </div>

      <div class="service__line flex flex--between flex--top">
        <div>
          <div class="service__count-box animated-background">
            <button class="service__count-button"></button>
            <input
              type="number"
              class="service__count-input"
              v-model.number.trim="count"
              min="1"
              @keypress="onlyNumber"
            />
            <button class="service__count-button"></button>
          </div>
          <p class="service__price animated-background"></p>
        </div>
        <button class="button animated-background"></button>
      </div>

      <p class="main__text animated-background"></p>
    </template>

    <template v-else>
      <div class="main__image-box">
        <img
          :src="servicesItem.image"
          :alt="servicesItem.title"
          class="main__image"
          v-if="servicesItem.image"
        />
      </div>

      <div class="main__content">
        <p class="main__text bold text-big">{{ servicesItem.name }}</p>
      </div>

      <div class="service__line flex flex--between flex--top">
        <div>
          <div class="service__count-box">
            <button class="service__count-button" @click="remove">
              <img
                src="@/assets/images/icons/icon_minus.svg"
                alt="Убавить"
                class="icon"
              />
            </button>
            <input
              type="number"
              class="service__count-input"
              v-model.number.trim="count"
              min="1"
              @keypress="onlyNumber"
            />
            <button class="service__count-button" @click="add">
              <img
                src="@/assets/images/icons/icon_plus.svg"
                alt="Прибавить"
                class="icon"
              />
            </button>
          </div>
          <p class="service__price">
            {{ servicesItem.price }} Р/{{ servicesItem.measure }}
          </p>
        </div>
        <button class="button" @click="addToCart">В корзину</button>
      </div>

      <p class="main__text">{{ servicesItem.content }}</p>
    </template>
  </section>
</template>

<script>
export default {
  name: "RetailServiceItem",

  props: ["service", "name"],

  data() {
    return {
      count: 1,
      serviceName: this.name ? this.name : localStorage.getItem("serviceName"),
    };
  },

  methods: {
    add() {
      this.count++;
    },

    remove() {
      if (this.count > 1) {
        this.count--;
      }
    },

    onlyNumber(e) {
      let keyCode = e.keyCode ? e.keyCode : e.which;
      if (keyCode < 48 || keyCode > 57) {
        e.preventDefault();
      }

      if (this.count == 0 && keyCode == 48) {
        e.preventDefault();
        this.count = 1;
      }
    },

    addToCart() {
      let pushData, cartData;

      cartData = localStorage.getItem("cart");
      pushData = {
        id: this.servicesItem.id,
        count: this.count,
        price: this.servicesItem.price,
        image: this.servicesItem.image,
        name: this.servicesItem.name,
        delete: true,
        countAvailable: true,
      };

      if (cartData) {
        cartData = JSON.parse(cartData);
      } else {
        cartData = new Array();
      }

      if (this.count > 0) {
        cartData = this.filter(cartData, this.servicesItem.id);
        cartData.push(pushData);
        localStorage.setItem("cart", JSON.stringify(cartData));

        this.$root.$emit("printCountCart");
      }
    },

    filter(arr, data) {
      return arr.filter((item) => item.id != data);
    },

    find(arr, data) {
      return arr.filter((item) => item.id == data);
    },
  },

  computed: {
    servicesItem() {
      return this.$store.getters.SERVICESITEM;
    },
  },

  mounted() {
    const cartArr = JSON.parse(localStorage.getItem("cart"));
    let thisItem, count;

    if (cartArr) {
      thisItem = this.find(cartArr, this.service);

      if (thisItem.length > 0) {
        count = thisItem[0].count;
      }
    }

    if (count) {
      this.count = parseInt(count);
    }

    this.$store.dispatch("GET_SERVICESITEM", this.service);
  },
};
</script>

<style lang="less" scoped>
.main__content {
  & .main__text {
    &.animated-background {
      display: block;
      height: 7.3vw;
      width: 60vw;

      padding: 0;
      margin: 0.3vw 0;
    }
  }
}
</style>
