header {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;

    min-width: 320px;
    min-height: 100%;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 5vw;
    line-height: 1.4;
    color: @color-text;

    overflow-x: hidden;
}

#app {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

* {
    user-select: none
}

a,
button {
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    transition: opacity 0.15s;

    &:active {
        opacity: 0.6;
    }
}

input,
textarea {
    font-family: inherit;
    user-select: auto;
}

// img,
// p,
// span,
// h1,
// h2,
// h3 {
//     user-select: none;
// }