<template>
  <section class="main__box order flex flex--column flex--middle">
    <h1 class="order__title">Спасибо за заявку</h1>
    <p class="order__text">
      Вы можете отследить статус заказа в «Истории заказов».
      <br />
      <br />Ожидайте счёт для оплаты в разделе «Мои счета».
      <br />
      <br />
    </p>
    <router-link
      :to="{ name: 'RetailOrderHistory', query: { page: '1' } }"
      class="button"
    >Отслеживать</router-link>
  </section>
</template>

<script>
export default {
  name: "OrderCompleted"
};
</script>
