<template>
  <section class="main__box flex flex--column">
    <h1 class="main__title">{{ title }}</h1>
    <template v-if="list.length > 0">
      <ul class="service__list">
        <li class="service__item" v-for="(item, id) in list" :key="id">
          <div class="service__link service__link--shopping-cart">
            <ServiceBlock :data="item"></ServiceBlock>
          </div>
        </li>
      </ul>

      <p class="cart__price">
        Итого:
        <span class="text-bold">{{ total }} Р</span>
      </p>

      <div class="form__images-box">
        <div class="form__images flex">
          <div class="flex" v-if="showImagesBox">
            <div
              class="form__image-wrapper"
              v-for="(image, imageIndex) in images"
              :key="imageIndex"
              @click="index = imageIndex"
            >
              <img :src="image" class="form__image" />
            </div>
          </div>

          <label
            v-if="!hideAddButton"
            class="form__image-wrapper form__image-wrapper--add-button"
          >
            <input
              type="file"
              multiple
              class="visually-hidden"
              @change="onFileChange"
            />
          </label>
        </div>
        <button
          type="button"
          class="button button--white button--small"
          @click="clearImages"
          v-if="showImagesBox"
        >
          Удалить
        </button>

        <VueGallery
          v-if="showImagesBox"
          :images="images"
          :index="index"
          @close="index = null"
        ></VueGallery>
      </div>

      <div class="flex flex--center">
        <button
          class="button"
          :class="{ 'animated-background': !orderStatus.response }"
          @click="submit"
          :disabled="!orderStatus.response"
        >
          Отправить
        </button>
      </div>
    </template>

    <div class="cart__box" v-else>
      <div class="cart__icon-box">
        <img
          src="@/assets/images/icons/icon_shopping-cart-page.svg"
          alt
          class="cart__icon"
        />
      </div>
      <p class="main__text">Ваша корзина пуста</p>
    </div>
  </section>
</template>

<script>
import ServiceBlock from "@/components/common/ServiceBlock.vue";
import VueGallery from "vue-gallery";

let formData = new FormData();

export default {
  name: "RetailShoppingCart",

  components: {
    ServiceBlock,
    VueGallery,
  },

  data() {
    return {
      title: "Корзина",
      list: new Array(),
      total: 0,
      showImagesBox: false,
      images: new Array(),
      hideAddButton: false,
      index: null,
    };
  },

  methods: {
    printList() {
      this.total = 0;
      const cartArr = JSON.parse(localStorage.getItem("cart"));

      if (cartArr) {
        this.list = cartArr;

        cartArr.forEach((service) => {
          this.total += service.count * service.price;
        });
      }
    },

    recountTotal() {
      this.total = 0;
      const cartArr = JSON.parse(localStorage.getItem("cart"));

      cartArr.forEach((service) => {
        this.total += service.count * service.price;
      });
    },

    onFileChange(e) {
      this.images = new Array();
      const files = e.target.files;
      const maxImageCount = 4;
      let counter = 0;

      files.forEach((file) => {
        counter++;

        if (counter <= maxImageCount) {
          if (file.type == "image/png" || file.type == "image/jpeg") {
            this.images.push(URL.createObjectURL(file));
            formData.append("images[]", file);

            this.showImagesBox = true;
          } else {
            this.$store.dispatch("SHOW_ALERT", {
              message: `Разрешена загрузка только картинок`,
            });
          }
        } else {
          this.showImagesBox = true;
          this.hideAddButton = true;

          this.$store.dispatch("SHOW_ALERT", {
            message: `Максимальное колличество кртинок: ${maxImageCount}`,
          });
        }

        if (counter == maxImageCount) {
          this.showImagesBox = true;
          this.hideAddButton = true;
        }
      });
    },

    clearImages() {
      formData = new FormData();

      this.hideAddButton = false;
      this.showImagesBox = false;
      this.images = new Array();
    },

    submit() {
      const cartArr = JSON.parse(localStorage.getItem("cart"));
      const dataArr = new Array();

      cartArr.forEach((item) => {
        dataArr.push({
          id: item.id,
          count: item.count,
          price: item.price,
        });
      });

      formData.append("services", JSON.stringify(dataArr));

      this.$store.dispatch("PUSH_ORDER", formData);
    },
  },

  computed: {
    orderStatus() {
      return this.$store.getters.ORDERSTATUS;
    },
  },

  updated() {
    if (this.orderStatus.success == false) {
      const data = this.orderStatus.data;
      const cart = JSON.parse(localStorage.getItem("cart"));
      let newCart;

      newCart = cart.filter((item) => {
        for (let key in data) {
          if (item.id == parseInt(key) && parseInt(data[key]) != -1) {
            item.price = parseInt(data[key]);
            this.$store.dispatch("SHOW_ALERT", {
              message: "Цена на услуги изменилась, повторите отправку",
            });
            return item;
          } else if (item.id != parseInt(key)) {
            return item;
          }
        }
      });

      localStorage.setItem("cart", JSON.stringify(newCart));
      this.printList();

      this.$store.commit("SET_ORDERSTATUS", { success: null, response: true });
    } else if (this.orderStatus.success == true) {
      localStorage.removeItem("cart");
      this.$store.commit("SET_ORDERSTATUS", {
        success: null,
        response: true,
      });

      this.$root.$emit("printCountCart");
      this.$router.push({ name: "RetailOrderCompleted" });
    }
  },

  mounted() {
    this.printList();

    this.$root.$on("RefreshShoppingCart", () => {
      this.printList();
    });

    this.$root.$on("RefreshTotal", () => {
      this.recountTotal();
    });
  },
};
</script>
