<template>
  <section class="main__box flex flex--column">
    <div class="main__image-box">
      <img src="@/assets/images/pictures/main.jpg" alt class="main__image" />
    </div>
    <div class="main__content">
      <p class="main__text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        commodo ligula eget dolor. Aenean massa. Cum sociis natoque
        penatibus et magnis dis parturient montes.
      </p>
    </div>
    <div class="flex flex--middle flex--center mt-a form">
      <router-link class="button" :to="{ name: 'CorporateOrderCreate' }">Отправить</router-link>
    </div>
  </section>
</template>

<script>
export default {
  name: "CorporateHome",
  data() {
    return {};
  }
};
</script>
