<template>
  <section class="main__box flex flex--column flex--middle">
    <h1
      class="signin__title text-blue bold"
      :class="{ 'animated-background': !user.name }"
    >
      {{ user.name }} {{ user.surname }}
    </h1>
    <span class="status text-blue">Корпоративный</span>

    <form @submit.prevent="UserUpdate" class="signin__form">
      <fieldset>
        <!-- <input
          v-model.trim.lazy="$v.email.$model"
          @blur="$v.email.$touch()"
          type="text"
          placeholder="E-mail"
          class="signin__input"
          :class="{
                        'signin__input--error': $v.email.$error
                    }"
        />-->
        <TheMask
          v-model.trim.lazy="$v.phone.$model"
          :mask="'8(###) ###-##-##'"
          type="tel"
          placeholder="Телефон"
          class="signin__input"
          :class="{ 'signin__input--error': $v.phone.$error }"
        />
        <input
          v-model.trim="city"
          type="text"
          placeholder="Город"
          class="signin__input"
        />
        <input
          v-model.trim="street"
          type="text"
          placeholder="Улица"
          class="signin__input"
        />
        <div class="signin__input-group">
          <input
            v-model.trim="house"
            type="text"
            placeholder="Дом"
            class="signin__input"
          />
          <input
            v-model.trim="flat"
            type="text"
            placeholder="Квартира"
            class="signin__input"
          />
        </div>
        <input
          v-model.trim="company"
          type="text"
          placeholder="Компания"
          class="signin__input"
        />
        <TheMask
          v-model.trim.lazy="$v.id.$model"
          :mask="'##########'"
          type="text"
          placeholder="ИНН"
          class="signin__input"
          :class="{ 'signin__input--error': $v.id.$error }"
        />
        <div class="flex flex--center">
          <button class="link" @click.prevent="logout" type="button">
            Выход
          </button>
        </div>
        <button type="submit" class="button">Изменить</button>
      </fieldset>
    </form>
  </section>
</template>
<script>
import { minLength } from "vuelidate/lib/validators";
import { TheMask } from "vue-the-mask";

export default {
  name: "CorporateProfile",

  components: {
    TheMask,
  },

  data() {
    return {
      phone: null,
      email: null,
      address: null,
      city: null,
      street: null,
      house: null,
      flat: null,
      company: null,
      id: null,
    };
  },

  methods: {
    logout() {
      localStorage.clear();
      this.$cookies.remove("token");

      this.$router.push({ name: "Welcome" });
    },

    UserUpdate() {
      if (!this.$v.phone.$error && !this.$v.id.$error) {
        const data = {
          phone: this.phone,
          address: JSON.stringify({
            city: this.city,
            street: this.street,
            house: this.house,
            flat: this.flat,
          }),
          company_name: this.company,
          inn: this.id,
        };

        this.$store.dispatch("UPDATE_USER", data);
      } else {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Проверте правильность набранного номера",
        });
      }
    },
    IsJsonString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },
  },

  computed: {
    user() {
      return this.$store.getters.USER;
    },

    response() {
      return this.$store.getters.AWAITRESPONSE;
    },
  },

  mounted() {
    this.$store.dispatch("GET_USER");
  },

  updated() {
    if (this.phone == null) this.phone = this.user.phone;
    if (this.address == null) {
      this.address = this.user.address;
      if (this.IsJsonString(this.user.address)) {
        const data = JSON.parse(this.user.address);

        if (this.city == null) this.city = data.city;
        if (this.street == null) this.street = data.street;
        if (this.house == null) this.house = data.house;
        if (this.flat == null) this.flat = data.flat;
      } else {
        if (this.city == null) this.city = this.user.address;
      }
    }
    if (this.company == null) this.company = this.user.company_name;
    if (this.id == null) this.id = this.user.inn;
  },

  validations: {
    email: {
      validFormat: (val) =>
        /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/.test(
          val
        ),
    },
    phone: {
      minLength: minLength(10),
    },
    address: {},
    company: {},
    id: {
      minLength: minLength(10),
    },
  },
};
</script>

<style lang="less" scoped>
.signin__title {
  display: block;

  color: @color-text;
  font-size: 6.5vw;
  text-align: left;
  margin-bottom: 1vw;

  width: 65vw;
}
.status {
  display: block;

  font-size: 5.65vw;

  width: 65vw;

  margin-bottom: 10vw;
}
.link {
  font-size: 5.65vw;
}
</style>
