<template>
  <footer class="bar flex flex--center flex--middle">
    <nav class="bar__nav">
      <ul class="bar__list flex flex--nowrap flex--center">
        <li class="bar__item">
          <router-link :to="{ name: 'NewsList' }" class="bar__link" active-class="active">
            <span class="bar__icon icon icon--bookmark"></span>
            Новости
          </router-link>
        </li>
        <li class="bar__item">
          <router-link
            :to="{ name: 'CorporateOrderCreate' }"
            class="bar__link"
            active-class="active"
          >
            <span class="bar__icon icon icon--credit-card"></span>
            Заказать
          </router-link>
        </li>
        <li class="bar__item">
          <router-link :to="{ name: 'CorporateProfile' }" class="bar__link" active-class="active">
            <span class="bar__icon icon icon--user"></span>
            Профиль
          </router-link>
        </li>
      </ul>
    </nav>
  </footer>
</template>

<script>
export default {
  name: "CorporateBar",
  data() {
    return {};
  }
};
</script>
