<template>
  <header
    class="header flex flex--center flex--center"
    :class="activeClass ? 'active' : ''"
  >
    <button class="button-burger" @click.prevent="menuToggle">
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <img
      src="@/assets/images/logo/logo.svg"
      alt="УралПромИнжиниринг"
      class="header__logo"
    />
    <router-link
      :to="{ name: 'CorporateOrderHistory' }"
      class="header__link icon icon--mail"
    >
      <span class="visually-hidden">Перейти в историю заказов</span>
    </router-link>
  </header>
</template>
<script>
export default {
  name: "CorporateHeader",
  data() {
    return {
      activeClass: false,
      scrollTop: 0,
      cartCount: null,
    };
  },
  methods: {
    menuToggle() {
      this.$root.$emit("toggleCorporateSideNav");
    },

    onScroll() {
      if (
        window.pageYOffset >= 20 ||
        document.documentElement.scrollTop >= 20
      ) {
        this.activeClass = true;
      } else {
        this.activeClass = false;
      }
    },
  },

  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },

  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
};
</script>
