<template>
  <transition name="slide">
    <nav class="nav" v-if="navActive" @click="toggleNav">
      <ul class="nav__list">
        <li class="nav__item">
          <router-link
            :to="{ name: 'CorporatePortfolioList' }"
            class="nav__link"
            active-class="active"
          >Портфолио</router-link>
        </li>
        <li class="nav__item">
          <router-link :to="{ name: 'NewsList' }" class="nav__link" active-class="active">Новости</router-link>
        </li>
        <li class="nav__item">
          <router-link :to="{ name: 'About' }" class="nav__link" active-class="active">О нас</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'CorporateFeedback' }"
            class="nav__link"
            active-class="active"
          >Обратная связь</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'CorporateOrderHistory' }"
            class="nav__link"
            active-class="active"
          >История заказов</router-link>
        </li>
        <li class="nav__item">
          <router-link
            :to="{ name: 'CorporateProfile' }"
            class="nav__link"
            active-class="active"
          >Профиль</router-link>
        </li>
        <li class="nav__item">
          <router-link :to="{ name: 'Contacts' }" class="nav__link" active-class="active">Контакты</router-link>
        </li>
      </ul>
    </nav>
  </transition>
</template>
<script>
export default {
  name: "CorporateSideNav",
  data() {
    return {
      navActive: false
    };
  },
  methods: {
    toggleNav() {
      this.navActive ? (this.navActive = false) : (this.navActive = true);
    }
  },

  mounted() {
    this.$root.$on("toggleCorporateSideNav", () => {
      this.toggleNav();
    });
  }
};
</script>

<style lang="less">
.slide-enter-active {
  animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.slide-leave-to {
  animation: slide-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse;
}
</style>
