<template>
  <div class="signin">
    <img src="@/assets/images/logo/logo_sign-in.png" alt="УралПромИнжиниринг" class="signin__logo" />

    <h1 class="signin__title">Вы уже являетесь корпоративным клиентом?</h1>

    <div class="signin__button-box flex flex--column">
      <router-link
        :to="{ name: 'RegistrationStepOne', params: { type: type = 'corporate' } }"
        class="button"
      >Да</router-link>
      <router-link
        :to="{ name: 'RegistrationStepOne', params: { type: type = 'retail' } }"
        class="button"
      >Нет</router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: "ChooseRegistration",
  data() {
    return {
      type: null
    };
  }
};
</script>

<style lang="less" scoped>
.signin {
  &__logo {
    margin-bottom: 16.8vw;
  }

  &__button-box {
    margin-top: 10vw;
    margin-bottom: auto;
  }
}
</style>
