<template>
  <div class="signin">
    <h1 class="signin__title text-blue bold">Вход</h1>

    <form @submit.prevent="Autohorize" class="signin__form">
      <fieldset>
        <input
          v-model.trim.lazy="$v.email.$model"
          @blur="$v.email.$touch()"
          type="email"
          placeholder="E-mail"
          class="signin__input"
          :class="{
            'signin__input--error': $v.email.$error
          }"
        />
        <input
          v-model.trim="$v.password.$model"
          @blur="$v.password.$touch()"
          type="password"
          placeholder="Пароль"
          class="signin__input"
          :class="{
            'signin__input--error': $v.password.$error
          }"
        />
        <button
          type="submit"
          class="button"
          :class="{ 'animated-background': awaitResponse }"
          :disabled="awaitResponse"
        >
          Войти
        </button>
      </fieldset>
    </form>
    <router-link :to="{ name: 'ResendPassword' }" class="link"
      >Забыли пароль?</router-link
    >
  </div>
</template>

<script>
import axios from "axios";
import { required } from "vuelidate/lib/validators";

export default {
  name: "Login",

  data() {
    return {
      email: null,
      password: null,
      data: Object,
      awaitResponse: false
    };
  },

  methods: {
    Autohorize() {
      if (!this.$v.email.$error && !this.$v.password.$error) {
        this.data = {
          email: this.email,
          password: this.password
        };

        this.awaitResponse = true;

        axios({
          method: "post",
          url: `/api/${process.env.VUE_APP_API_VERSION}/user/login`,
          headers: { "Content-Type": "application/json" },
          data: JSON.stringify(this.data)
        })
          .then(response => {
            this.awaitResponse = false;

            if (response.status == 200) {
              const type = response.data.type;
              const token = response.data.token;

              this.$store.dispatch("SET_TOKEN", token);

              if (type == 1) {
                localStorage.setItem("user", "corporate");
                this.$router.push({ name: "CorporateHome" });
              } else if (type == 0) {
                localStorage.setItem("user", "retail");
                this.$router.push({
                  name: "RetailServicesList"
                });
              }
            }
          })
          .catch(err => {
            this.awaitResponse = false;

            const response = err.response;
            const errorMessage = response.data[0].message;

            if (errorMessage) {
              this.$store.dispatch("SHOW_ALERT", { message: errorMessage });
            }

            if (response.status == 500) {
              this.$store.dispatch("SHOW_ALERT", {
                message: "Что-то пошло не так, попробуйте позже"
              });
            }
          });
      } else if (this.$v.email.$error) {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Проверте правильность введённой почты"
        });
      } else if (this.$v.password.$error) {
        this.$store.dispatch("SHOW_ALERT", { message: "Введите пароль" });
      }
    }
  },

  validations: {
    email: {
      required,
      validFormat: val =>
        /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/.test(
          val
        )
    },
    password: {
      required
    }
  }
};
</script>
