<template>
    <div class="signin">
        <img
            src="@/assets/images/logo/logo_sign-in.png"
            alt="УралПромИнжиниринг"
            class="signin__logo"
        />

        <h1 class="signin__title">
            Вам на почту было отправлено письмо для подтверждения регистрации
        </h1>

        <router-link :to="{ name: 'Welcome' }" class="button"
            >На главную</router-link
        >
    </div>
</template>

<script>
export default {
    name: "MailConfirm",

    data() {
        return {};
    }
};
</script>
