<template>
  <div class="signin">
    <h1 class="signin__title text-blue bold">Забыли пароль?</h1>

    <form @submit.prevent="Registration" class="signin__form">
      <fieldset>
        <input
          type="email"
          name="mail"
          v-model="mail"
          class="signin__input"
          placeholder="Введите E-mail"
          recuired
        />
        <button type="submit" class="button">Отправить пароль</button>
      </fieldset>
    </form>
    <router-link :to="{ name: 'Login' }" class="button"
      >Авторизоваться</router-link
    >
  </div>
</template>
<script>
export default {
  name: "PasswordResend",

  data() {
    return {
      mail: null,
      data: Object
    };
  },

  methods: {
    Registration() {
      if (this.mail) {
        this.data = {
          email: this.mail
        };

        this.$store.dispatch("PUSH_RESENDPASSWORD", this.data);
      } else {
        this.messages("mailSatyOut");
      }
    },

    messages(status) {
      switch (status) {
        case "mailSatyOut":
          this.$store.dispatch("SHOW_ALERT", { message: "Введите свою почту" });
          break;
      }
    }
  }
};
</script>
