<template>
  <div class="signin">
    <h1 class="signin__title text-blue bold">Регистрация</h1>

    <form @submit.prevent="Registration" class="signin__form">
      <fieldset>
        <input
          v-model.trim="name"
          @blur="$v.name.$touch()"
          type="text"
          placeholder="Имя"
          class="signin__input"
          :class="{ 'signin__input--error': $v.name.$error }"
        />
        <input
          v-model.trim="subname"
          @blur="$v.subname.$touch()"
          type="text"
          placeholder="Фамилия"
          class="signin__input"
          :class="{ 'signin__input--error': $v.subname.$error }"
        />
        <TheMask
          v-model.trim.lazy="$v.phone.$model"
          :mask="'8(###) ###-##-##'"
          type="tel"
          placeholder="Телефон"
          class="signin__input"
          :class="{ 'signin__input--error': $v.phone.$error }"
        />
        <input
          v-model.trim="city"
          type="text"
          placeholder="Город"
          class="signin__input"
        />
        <input
          v-model.trim="street"
          type="text"
          placeholder="Улица"
          class="signin__input"
        />
        <div class="signin__input-group">
          <input
            v-model.trim="house"
            type="text"
            placeholder="Дом"
            class="signin__input"
          />
          <input
            v-model.trim="flat"
            type="text"
            placeholder="Квартира"
            class="signin__input"
          />
        </div>
        <input
          v-model.trim="company"
          type="text"
          placeholder="Компания"
          class="signin__input"
          v-if="corporate"
        />
        <TheMask
          v-model.trim.lazy="$v.id.$model"
          :mask="'##########'"
          type="text"
          placeholder="ИНН"
          class="signin__input"
          :class="{ 'signin__input--error': $v.id.$error }"
          v-if="corporate"
        />
        <button
          type="submit"
          class="button"
          :class="{ 'animated-background': awaitResponse }"
          :disabled="awaitResponse"
        >
          Завершить
        </button>
      </fieldset>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { required, minLength } from "vuelidate/lib/validators";
import { TheMask } from "vue-the-mask";

export default {
  name: "RegistrationStepTwo",

  components: {
    TheMask,
  },

  props: {
    data: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      name: null,
      subname: null,
      phone: null,
      address: null,
      city: null,
      street: null,
      house: null,
      flat: null,
      company: null,
      id: null,
      corporate: this.type == "corporate" ? true : false,
      awaitResponse: false,
    };
  },

  methods: {
    Registration() {
      let data,
        propsData = JSON.parse(atob(this.data));

      data = {
        email: propsData.email,
        password: propsData.password,
        name: this.name,
        surname: this.subname,
        phone: 8 + this.phone,
        address: JSON.stringify({
          city: this.city,
          street: this.street,
          house: this.house,
          flat: this.flat,
        }),
      };

      if (this.corporate) {
        data = {
          ...data,
          type: 1,
          company: this.company,
          inn: this.id,
        };
      } else {
        data = {
          ...data,
          type: 0,
        };
      }

      if (
        !this.$v.name.$error &&
        !this.$v.subname.$error &&
        !this.$v.phone.$error &&
        this.data
      ) {
        this.awaitResponse = true;

        axios({
          method: "post",
          url: `/api/${process.env.VUE_APP_API_VERSION}/user/signup`,
          headers: { "Content-Type": "application/json" },
          data: JSON.stringify(data),
        })
          .then((response) => {
            this.awaitResponse = false;

            if (response.status == 200) {
              this.$router.push({ name: "Login" });

              this.$store.dispatch("SHOW_ALERT", {
                message: "Регистрация прошла успешно",
              });
            }
          })
          .catch((err) => {
            this.awaitResponse = false;

            const response = err.response;
            const errorMessage = response.data[0].message;

            if (errorMessage) {
              this.$store.dispatch("SHOW_ALERT", { message: errorMessage });
            }

            if (response.status == 500) {
              this.$store.dispatch("SHOW_ALERT", {
                message: "Нет связи с сервером, попробуйте позже",
              });
            }
          });
      } else if (!this.data) {
        this.$store.dispatch("SHOW_ALERT", {
          message:
            "Произошла ошибка при заполнении данных, пожалуйста повторите попытку",
        });
      } else {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Проверте правильность заполнения",
        });
      }
    },
  },

  validations: {
    name: {
      required,
      alpha: (val) => /^[а-яё]*$/i.test(val),
    },
    subname: {
      required,
      alpha: (val) => /^[а-яё]*$/i.test(val),
    },
    phone: {
      required,
      minLength: minLength(10),
    },
    company: {},
    id: {
      minLength: minLength(10),
    },
  },

  created() {
    localStorage.setItem("registType", this.type);
  },
};
</script>

<style lang="less" scoped>
.signin__title {
  margin-bottom: 10vw;
}
</style>
