<template>
  <div class="signin">
    <h1 class="signin__title text-blue bold">Регистрация</h1>

    <form @submit.prevent="Registration" class="signin__form">
      <input
        v-model.trim="$v.email.$model"
        @blur="$v.email.$touch()"
        type="email"
        placeholder="E-mail"
        class="signin__input"
        :class="{
                    'signin__input--error': emailValid
                }"
      />
      <div class="signin__group">
        <input
          v-model.trim="$v.password.$model"
          type="password"
          placeholder="Пароль"
          class="signin__input"
          :class="{
                        'signin__input--error': $v.password.$error
                    }"
        />
      </div>
      <input
        v-model.trim="$v.passwordRepeat.$model"
        type="password"
        placeholder="Повторите пароль"
        class="signin__input"
        :class="{
                    'signin__input--error': !$v.passwordRepeat.sameAsPassword
                }"
      />
      <button type="submit" class="button">Далее</button>
    </form>
  </div>
</template>
<script>
import { required, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  name: "RegistrationStepOne",

  props: ["type"],

  data() {
    return {
      email: null,
      emailValid: false,
      password: null,
      passwordRepeat: null
    };
  },

  methods: {
    Registration() {
      const user = localStorage.getItem("registType");
      let data;

      if (
        !this.$v.email.$invalid &&
        this.$v.passwordRepeat.sameAsPassword &&
        !this.$v.password.$error &&
        this.$v.password.$model
      ) {
        data = {
          email: this.email,
          password: this.password
        };

        data = JSON.stringify(data);

        if (this.type) {
          this.$router.push({
            name: "RegistrationStepTwo",
            params: {
              data: btoa(data),
              type: this.type ? this.type : user
            }
          });
        } else {
          this.$store.dispatch("SHOW_ALERT", {
            message: "Выбеите тип пользователя"
          });
          this.$router.push({ name: "ChooseRegistration" });
        }
      } else if (!this.$v.passwordRepeat.sameAsPassword) {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Введённые пароли не совпадают"
        });
      } else if (this.$v.email.$invalid) {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Проверте правильность ввода почты"
        });
      } else {
        this.$store.dispatch("SHOW_ALERT", {
          message: "Проверте заполненность всех полей"
        });
      }
    }
  },

  validations: {
    email: {
      required,
      validFormat: val =>
        /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/.test(
          val
        )
    },
    password: {
      required,
      minLength: minLength(6)
    },
    passwordRepeat: {
      sameAsPassword: sameAs("password")
    }
  }
};
</script>
